<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header"></div>
<br/>
<br/>

<section class="main-page-container">
    <br/>
    <table width="90%" class="center" border="0px">
        <tr>
            <td align="center">

                <div class="project-title-content">
                    <font size="4" color="green"><b>ALL ACCOUNT TYPES</b></font>
                    <a href="/registerAccountType">
                        <img width="30px" th:src="@{/assets/images/add.png}"/>
                    </a><br/>
                    <span><i class="fas fa-crosshairs"></i></span>
                </div>

            </td>
        </tr>
    </table>
    <table width="90%" class="center" border="0px">

        <tr th:each="branch : ${accountTypeList}">
            <td th:text="${accountType.orgId}"></td>
            <td th:text="${accountType.name}"></td>
            <td th:text="${accountType.displayName}"></td>
            <td th:text="${accountType.code}"></td>
            <td th:text="${accountType.category}"></td>
            <td th:text="${accountType.number}"></td>
            <td>
                <a href="#" th:href="@{/accountType/{id}(id=${accountType.id})}">See more ...</a>
            </td>

        </tr>
    </table>

</section>

<div th:insert="footer::navbar"></div>
</html>
