<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header" ></div>
<section class="main-page-container">
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">ALL BRANCHES <a th:style="${'color:' + session.runtimeSettings.themeColor}" href="/registerBranch"><i class="fas fa-plus"></i></a>
                        </h2>
                        <span>List of all branches. Click plus to add new branch.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Project title area end-->
    <div class="container">
        <div class="radius-container share-account-container">
            <div class="share-account-list">
                <table class="default-list">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Street
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Telephone
                        </th>
                        <th>
                            Fax
                        </th>
                        <th>
                            Contact
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                    <tr th:each="branch : ${branchList}">
                        <td th:text="${branch.name}" th:unless="${branch.name == 'admin'}"></td>
                        <td th:text="${branch.code}" th:unless="${branch.name == 'admin'}"></td>
                        <td th:text="${branch.street}" th:unless="${branch.name == 'admin'}"></td>
                        <td th:text="${branch.city}" th:unless="${branch.name == 'admin'}"></td>
                        <td th:text="${branch.telephone}" th:unless="${branch.name == 'admin'}"></td>
                        <td th:text="${branch.fax}" th:unless="${branch.name == 'admin'}"></td>
                        <td th:text="${branch.contact}" th:unless="${branch.name == 'admin'}"></td>
                        <td th:unless="${branch.name == 'admin'}">
                            <a class="table-list-button-icon" href="#" th:href="@{/branch/{id}(id=${branch.id})}"><i class="fas fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<div th:insert="footer::navbar"></div>
</html>
