<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<div th:insert="header::navbar"></div>
<section class="main-page-container">
    <div class="project-title-area text-center">
        <div th:insert="summary::navbar"></div>
        <div class="container">
            <div class="radius-container account-diposit-container current-account-section">
                <div class="info-form">
                    <div class="account-diposit-info">
                        <div class="diposit-info-cell total-info-cell">
                            <label>Balance</label>
                            <span class="account-balance-title"
                                  th:style="${'color:' + session.runtimeSettings.themeColor}"
                                  th:text="${#numbers.formatDecimal(currentAccountTransaction.currentAccount.accountBalance, 0, 'COMMA', 0, 'POINT')} +' frs'"></span>
                        </div>
                        <div class="diposit-info-cell">
                            <label>Account Type</label>
                            <span>Current - 20</span>
                        </div>
                        <div class="diposit-info-cell">
                            <label>Account Number</label>
                            <a th:style="${'color:' + session.runtimeSettings.themeColor2}" href="#"
                               th:href="@{/showCustomer/{userid}(userid=${currentAccountTransaction.currentAccount.user.id})}">
                                <span th:text="${#strings.substring(currentAccountTransaction.currentAccount.accountNumber,5,10)} + ' ' +${#strings.substring(currentAccountTransaction.currentAccount.accountNumber,21,23)}"/>
                            </a>
                        </div>
                        <div class="diposit-info-cell">
                            <label>Member Since</label>
                            <a th:style="${'color:' + session.runtimeSettings.themeColor}" href="#"
                               th:href="@{/showCustomer/{userid}(userid=${currentAccountTransaction.currentAccount.user.id})}">
                                <span th:text="${#dates.format(currentAccountTransaction.currentAccount.user.created, 'dd-MMM-yyyy HH:mm')}"/>
                            </a>
                        </div>
                        <div class="diposit-info-cell">
                            <label>Rate</label>
                            <span th:text="${currentAccountTransaction.currentAccount.interestRate}"></span>
                        </div>

                        <div class="diposit-info-cell">
                            <label>Min. Balance</label>
                            <span th:text="${#numbers.formatDecimal(currentAccountTransaction.currentAccount.accountMinBalance, 0, 'COMMA', 0, 'POINT')}"></span>
                        </div>
                        <div class="diposit-info-cell">
                            <label>Notes</label>
                            <span th:text="${currentAccountTransaction.currentAccount.notes}"></span>
                        </div>
                    </div>
                    <div class="account-diposit-form">
                        <font size="6" color="red">
                            <div th:text="${billSelectionError}"/>
                        </font>
                        <font size="6" color="gray"><span th:text="${billSelectionInfo}"/> </font>

                        <span th:if="${currentAccountTransaction.id} > 0">
                                <div class="hide-mobile">
                                <a th:style="${'color:' + session.runtimeSettings.themeColor}" href="#"
                                   th:href="@{/createCurrentAccountReceiptPdf/{id}(id=${currentAccountTransaction.id})}">
                                    <i class="far fa-file-pdf"></i>
                                    Print This Receipt
                                </a>
                                </div>
                        </span>

                        <span th:style="red" th:text="${error}"/>
                        <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER'')')}">
                            <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">
                                <span th:text="${session.runtimeSettings.currentAccount}"/>
                                Make A Payment
                            </h2>

                            <form action="#" th:action="@{/registerCurrentAccountTransactionCCForm}" method="post"
                                  th:object="${currentAccountTransaction}">


                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="card-logo-image">
                                            <img width="200px" th:src="@{/assets/images/visaLogo.png}"/>
                                        </span>
                                    </div>
                                    <div class="col-md-8 payment-screen-fields">
                                        <label>Enter USD Amount:</label> e.g 350
                                        <div class="row">
                                            <div class="col-md-4 payment-screen-fields">
                                                <input class="form-control amount-field" placeholder="Enter Amount"
                                                       min="1"
                                                       type="number"
                                                       th:field="*{currentAmount}"
                                                       value="${currentAccountTransaction.currentAmount}"/>
                                            </div>
                                            <div class="col send-amount-btn">
                                                <button class="btn btn-orange"
                                                        th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}"
                                                        type="submit">NEXT ---> Confirm Amount
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" th:value="${currentAccountTransaction.currentAccount.id}"
                                       th:attr="name='currentAccountId'"/>

                            </form>

                        </div>


                        <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CASHIER'')')}">
                            <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">MAKE A <span
                                    th:text="${session.runtimeSettings.currentAccount}"/> TRANSACTION</h2>

                            <form action="#" th:action="@{/registerCurrentAccountTransactionForm}" method="post"
                                  th:object="${currentAccountTransaction}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Transaction Type:</label>
                                            <select class="form-control" name="deposit_withdrawal">
                                                <option value="">Select A Transaction Type</option>
                                                <option value="DEPOSIT">DEPOSIT</option>
                                                <option value="WITHDRAWAL">WITHDRAWAL</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Transaction Mode:</label>
                                            <select class="form-control" name="modeOfPayment" id="modeOfPayment">
                                                <option value="CASH">CASH</option>
                                                <option disabled value="MOMO">MOMO</option>
                                                <option disabled value="ORANGE MONEY">ORANGE MONEY</option>
                                                <option value="PAYPAL">PAYPAL</option>
                                                <option value="TRANSFER">TRANSFER</option>
                                                <option value="RECEIPT">RECEIPT</option>
                                                <option disabled value="OTHER">OTHER</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Enter Amount <span
                                                    th:text="${#numbers.formatDecimal(currentAccountTransaction.currentAccount.minimumPayment, 0, 'COMMA', 0, 'POINT')}"/>
                                                Minimum:</label>
                                            <input class="form-control amount-field" placeholder="Enter Amount" min="1"
                                                   type="number"
                                                   th:field="*{currentAmount}"
                                                   value="${currentAccountTransaction.currentAmount}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Amount in Letters:</label>
                                            <textarea class="form-control"
                                                      id="currentAmountInLetters" rows="1" cols="70"
                                                      th:field="*{currentAmountInLetters}" maxlength="255">
                                        </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${session.runtimeSettings.billSelectionEnabled}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="bill-section-title"
                                                th:style="${'color:' + session.runtimeSettings.themeColor2}">BILL
                                                SELECTION:</h4>
                                            <div class="bill-selection-row">
                                                <div class="bill-selection-col">
                                                    <div class="form-group">
                                                        <label>10 000:</label>
                                                        <input class="form-control" name="tenThousand"
                                                               th:field="*{tenThousand}"
                                                               type="number" min="0" max="999" maxlength="4"
                                                               value="${currentAccountTransaction.tenThousand}"
                                                               size="4"/>
                                                    </div>
                                                </div>
                                                <div class="bill-selection-col">
                                                    <div class="form-group">
                                                        <label>5 000:</label>
                                                        <input class="form-control" name="fiveThousand"
                                                               th:field="*{fiveThousand}"
                                                               type="number" min="0" max="999" maxlength="4"
                                                               size="4"/>
                                                    </div>
                                                </div>
                                                <div class="bill-selection-col">
                                                    <div class="form-group">
                                                        <label>2 000:</label>
                                                        <input class="form-control" name="twoThousand"
                                                               th:field="*{twoThousand}"
                                                               type="number" min="0" max="999" maxlength="4"
                                                               size="4"/>
                                                    </div>
                                                </div>
                                                <div class="bill-selection-col">
                                                    <div class="form-group">
                                                        <label>1 000:</label>
                                                        <input class="form-control" name="oneThousand"
                                                               th:field="*{oneThousand}"
                                                               type="number" min="0" max="999" maxlength="4"
                                                               size="4"/>
                                                    </div>
                                                </div>
                                                <div class="bill-selection-col">
                                                    <div class="form-group">
                                                        <label>500:</label>
                                                        <input class="form-control" name="fiveHundred"
                                                               th:field="*{fiveHundred}"
                                                               type="number" min="0" max="999" maxlength="4"
                                                               size="4"/>
                                                    </div>
                                                </div>
                                                <div class="bill-selection-col">
                                                    <div class="form-group">
                                                        <label>100:</label>
                                                        <input class="form-control" name="oneHundred"
                                                               th:field="*{oneHundred}"
                                                               type="number" min="0" max="999" maxlength="4"
                                                               size="4"/>
                                                    </div>
                                                </div>
                                                <div class="bill-selection-col">
                                                    <div class="form-group">
                                                        <label>50:</label>
                                                        <input class="form-control" name="fifty" th:field="*{fifty}"
                                                               type="number"
                                                               min="0" max="999" maxlength="4" size="4"/>
                                                    </div>
                                                </div>
                                                <div class="bill-selection-col">
                                                    <div class="form-group">
                                                        <label>25:</label>
                                                        <input class="form-control" name="twentyFive"
                                                               th:field="*{twentyFive}"
                                                               type="number" min="0" max="999" maxlength="4"
                                                               size="4"/>
                                                    </div>
                                                </div>
                                                <div class="bill-selection-col">
                                                    <div class="form-group">
                                                        <label>10:</label>
                                                        <input class="form-control" name="ten" th:field="*{ten}"
                                                               type="number"
                                                               min="0" max="999" maxlength="4"
                                                               size="4"/>
                                                    </div>
                                                </div>
                                                <div class="bill-selection-col">
                                                    <div class="form-group">
                                                        <label>5:</label>
                                                        <input class="form-control" name="five" th:field="*{five}"
                                                               type="number"
                                                               min="0" max="999" maxlength="4"
                                                               size="4"/>
                                                    </div>
                                                </div>
                                                <div class="bill-selection-col">
                                                    <div class="form-group">
                                                        <label>1:</label>
                                                        <input class="form-control" name="one" th:field="*{one}"
                                                               type="number"
                                                               min="0" max="999" maxlength="4"
                                                               size="4"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="width: 100%;">&nbsp;</label>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" th:field="*{accountOwner}"
                                                       type="checkbox"
                                                       id="accountOwner" name="accountOwner" value="true"
                                                       checked>
                                                <label class="form-check-label" for="accountOwner">Account Owner</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Representative:</label>
                                            <input class="form-control" th:field="*{representative}" type="text"
                                                   id="representative" name="representative" maxlength="48"/>
                                            <input type="hidden"
                                                   th:value="${currentAccountTransaction.currentAccount.id}"
                                                   th:attr="name='currentAccountId'"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Notes:</label>
                                            <textarea class="form-control" placeholder="Enter Notes ..." id="notes"
                                                      rows="2"
                                                      cols="70" th:field="*{notes}"
                                                      maxlength="255">
                        </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-orange"
                                                th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}"
                                                type="submit">SUBMIT TRANSACTION
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="account-diposit-history">

                    <div class="ledger-container">
                        <div class="ledger-summary">
                            <div class="count-row"
                                 th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_TRANSACTIONS_PRINT'')')}"
                                 style="display: inline-block">
                                <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}"><span
                                        th:text="${session.runtimeSettings.currentAccount}"/> TRANSACTIONS PROCESSED
                                </h2>
                                <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_TRANSACTIONS_PRINT'')')} "
                                     class="ledger-search">
                                    <form action="#"
                                          th:action="@{/statementCurrentPDFDateInterval/{id}(id=${currentAccountTransaction.currentAccount.id})}"
                                          method="post" th:object="${glSearchDTO}">
                                        <div class="row row-space-10" style="position: relative;">
                                            <div class="col-md-4">
                                                <input type="date" name="startDate" th:field="*{startDate}"
                                                       id="startDate"
                                                       placeholder="Start Date:" class="form-control"
                                                       style="width: 100%;" required>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="date" name="endDate" th:field="*{endDate}" id="endDate"
                                                       placeholder="End Date:" class="form-control" style="width: 100%;"
                                                       required>
                                            </div>
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-orange"
                                                        th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor+'margin-left: -1%;'}">
                                                    FILTER
                                                </button>
                                            </div>
                                            <div class="count-view green-view">
                                                <label>Balance:</label>
                                                <span th:text="${currentBilanzList.totalCurrent}"> 
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_ACCOUNT_BALANCES'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER'')')}">
                        <div class="loan-tran-list">
                            <table class="default-list">
                                <thead>
                                <tr>
                                    <th class="hide-mobile">Payment Date</th>
                                    <th class="hide-mobile">MOP<br/>Reference</th>
                                    <th class="hide-mobile">Agent,<br/>Representative</th>
                                    <th>Notes</th>
                                    <th class="hide-mobile text-right">Debit</th>
                                    <th class="hide-mobile text-right">Credit</th>
                                    <th class="text-right">
                                        <span class="default-list-bold current-account-table-total"
                                  th:style="${'color:' + session.runtimeSettings.themeColor}"
                                  th:text="${#numbers.formatDecimal(currentAccountTransaction.currentAccount.accountBalance, 0, 'COMMA', 0, 'POINT')}"></span>
                                    </th>
                                    <th class="hide-mobile">
                                        <a th:style="${'color:' + session.runtimeSettings.themeColor}" href="#"
                                           th:href="@{/statementCurrentPDF/{id}(id=${currentAccountTransaction.currentAccount.id})}">
                                            <i class="far fa-file-pdf"></i>
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="bilanz : ${currentBilanzList.currentBilanzList}">
                                    <td class="hide-mobile">
                                        <span th:text="${bilanz.createdDate}"></span>
                                    </td>
                                    <td class="hide-mobile"><span th:text="${bilanz.modeOfPayment}"></span><br/>
                                        <span th:text="${bilanz.reference}"></span>
                                    </td>
                                    <td class="hide-mobile">
                                        <span th:text="${bilanz.agent}"></span><br/>
                                        <span th:text="${bilanz.representative}"/>
                                    </td>
                                    <td class="mobile-table-col">
                                        <div class="show-mobile full-width">
                                            <span class="default-list-label" th:text="${bilanz.createdDate}" /><br />
                                        </div>
                                        <strong class="show-mobile full-width"><span th:text="${bilanz.modeOfPayment}"/><br/></strong>
                                        <span th:text="${bilanz.notes}"/>
                                    </td>
                                    <td class="hide-mobile text-right"><span th:if="${bilanz.currentAmount} < 0"
                                              th:text="${#numbers.formatDecimal(bilanz.currentAmount*-1, 0, 'COMMA', 0, 'POINT')}"/>
                                    </td>
                                    <td class="hide-mobile text-right">
                                        <span th:if="${bilanz.currentAmount} > 0" th:text="${#numbers.formatDecimal(bilanz.currentAmount, 0, 'COMMA', 0, 'POINT')}"/>
                                    </td>
                                    <td class="text-right">
                                        <div class="current-account-table-total-row">
                                            <span th:text="${bilanz.currentBalance}"/>
                                            <!--                                            <span th:if="${bilanz.currentAmount} > 0"><span th:text="${#numbers.formatDecimal(bilanz.currentAmount, 0, 'COMMA', 0, 'POINT')}"/><br /></span>-->
                                            <!--                                            <span th:if="${bilanz.currentAmount} < 0" >- <span th:text="${#numbers.formatDecimal(bilanz.currentAmount*-1, 0, 'COMMA', 0, 'POINT')}"></span></span> -->
                                        </div>
                                        <div class="show-mobile" th:if="${#authorization.expression('hasAnyAuthority(''ROLE_ACCOUNT_BALANCES'')')}  OR ${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER'')')}">
                                            <span th:text="${#numbers.formatDecimal(bilanz.currentAmount, 0, 'COMMA', 0, 'POINT')}"/>
                                        </div>
                                    </td>
                                    <td class="hide-mobile">
                                        <a th:style="${'color:' + session.runtimeSettings.themeColor}" href="#"
                                           th:href="@{/createCurrentAccountReceiptPdf/{id}(id=${bilanz.id})}">
                                            <i class="far fa-file-pdf"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="footer::navbar"></div>
</body>
</html>
