<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header"></div>
<section class="main-page-container">
    <div class="project-title-area text-center">
        <div th:insert="summary::navbar"></div>
        <div class="container">
            <div class="account-diposit-container">
                <div class="account-diposit-info">
                    <div class="diposit-info-cell">
                        <label>Account Type</label>
                        <span th:text="${dailySavingAccountTransaction.dailySavingAccount.accountType.name}"></span>
                    </div>
                    <div class="diposit-info-cell">
                        <label>Account Number</label>
                        <a th:style="${'color:' + session.runtimeSettings.themeColor}" href="#"
                           th:href="@{/showCustomer/{userid}(userid=${dailySavingAccountTransaction.dailySavingAccount.user.id})}">
                            <span
                                    th:text="${#strings.substring(dailySavingAccountTransaction.dailySavingAccount.accountNumber,0,5)} + ' ' +${#strings.substring(dailySavingAccountTransaction.dailySavingAccount.accountNumber,5,10)} + ' ' +${#strings.substring(dailySavingAccountTransaction.dailySavingAccount.accountNumber,10,21)} + ' ' +${#strings.substring(dailySavingAccountTransaction.dailySavingAccount.accountNumber,21,23)}"/>
                        </a>
                    </div>
                    <div class="diposit-info-cell">
                        <label>Member Since</label>
                        <span
                                th:text="${#dates.format(dailySavingAccountTransaction.dailySavingAccount.user.created, 'dd-MMM-yyyy HH:mm')}"/>
                    </div>
                    <div class="diposit-info-cell">
                        <label>Rate</label>
                        <span th:text="${dailySavingAccountTransaction.dailySavingAccount.interestRate}"></span>
                    </div>
                    <div class="diposit-info-cell">
                        <label>Min. Balance</label>
                        <span
                                th:text="${#numbers.formatDecimal(dailySavingAccountTransaction.dailySavingAccount.accountMinBalance, 0, 'COMMA', 0, 'POINT')}"></span>
                    </div>
                    <div class="diposit-info-cell">
                        <label>Notes</label>
                        <span th:text="${dailySavingAccountTransaction.dailySavingAccount.notes}"></span>
                    </div>
                </div>

                <div class="account-diposit-form">
                    <div class="error" th:text="${billSelectionError}"/>

                    <span th:if="${dailySavingAccountTransaction.id} > 0">

                        <a th:style="${'color:' + session.runtimeSettings.themeColor}" href="#"
                           th:href="@{/createDailySavingAccountReceiptPdf/{id}(id=${dailySavingAccountTransaction.id})}">
                            <i class="far fa-file-pdf"></i>Print This Receipt
                        </a>
                    </span>

                    <font size="6" color="gray"><span th:text="${billSelectionInfo}"/></font>

                    <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">MAKE A <span
                            th:text="${session.runtimeSettings.dailySavingAccount}"/> TRANSACTION</h2>
                    <form action="#" th:action="@{/registerDailySavingAccountTransactionForm}" method="post"
                          th:object="${dailySavingAccountTransaction}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Transaction Type:</label>
                                    <select class="form-control" name="deposit_withdrawal">
                                        <option value="">Select A Transaction Type</option>
                                        <option value="DEPOSIT">DEPOSIT</option>
                                        <option value="WITHDRAWAL">WITHDRAWAL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Transaction Mode:</label>
                                    <select class="form-control" name="modeOfPayment" id="modeOfPayment">
                                        <option value="CASH">CASH</option>
                                        <option disabled value="MOMO">MOMO</option>
                                        <option disabled value="ORANGE MONEY">ORANGE MONEY</option>
                                        <option value="PAYPAL">PAYPAL</option>
                                        <option value="TRANSFER">TRANSFER</option>
                                        <option value="RECEIPT">RECEIPT</option>
                                        <option disabled value="OTHER">OTHER</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Amount <span
                                            th:text="${#numbers.formatDecimal(dailySavingAccountTransaction.dailySavingAccount.minimumPayment, 0, 'COMMA', 0, 'POINT')}"/>
                                        Minimum:</label>
                                    <input class="form-control amount-field" placeholder="Enter Amount" min="1" size="6"
                                           type="number" th:field="*{savingAmount}"
                                           value="${dailySavingAccountTransaction.savingAmount}"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Amount in Letters:</label>
                                    <textarea class="form-control"
                                              id="savingAmountInLetters" rows="1" cols="70"
                                              th:field="*{savingAmountInLetters}" maxlength="255">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div th:if="${session.runtimeSettings.billSelectionEnabled}">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="bill-section-title"
                                    th:style="${'color:' + session.runtimeSettings.themeColor2}">BILL SELECTION:</h4>
                                <div class="bill-selection-row">
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>10 000:</label>
                                            <input class="form-control" name="tenThousand" th:field="*{tenThousand}"
                                                   type="number" min="0" max="999" maxlength="4"
                                                   value="${dailySavingAccountTransaction.tenThousand}" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>5 000:</label>
                                            <input class="form-control" name="fiveThousand" th:field="*{fiveThousand}"
                                                   type="number" min="0" max="999" maxlength="4" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>2 000:</label>
                                            <input class="form-control" name="twoThousand" th:field="*{twoThousand}"
                                                   type="number" min="0" max="999" maxlength="4" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>1 000:</label>
                                            <input class="form-control" name="oneThousand" th:field="*{oneThousand}"
                                                   type="number" min="0" max="999" maxlength="4" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>500:</label>
                                            <input class="form-control" name="fiveHundred" th:field="*{fiveHundred}"
                                                   type="number" min="0" max="999" maxlength="4" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>100:</label>
                                            <input class="form-control" name="oneHundred" th:field="*{oneHundred}"
                                                   type="number" min="0" max="999" maxlength="4" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>50:</label>
                                            <input class="form-control" name="fifty" th:field="*{fifty}" type="number"
                                                   min="0" max="999" maxlength="4" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>25:</label>
                                            <input class="form-control" name="twentyFive" th:field="*{twentyFive}"
                                                   type="number" min="0" max="999" maxlength="4" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>10:</label>
                                            <input class="form-control" name="ten" th:field="*{ten}" type="number"
                                                   min="0" max="999" maxlength="4" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>5:</label>
                                            <input class="form-control" name="five" th:field="*{five}" type="number"
                                                   min="0" max="999" maxlength="4" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>1:</label>
                                            <input class="form-control" name="one" th:field="*{one}" type="number"
                                                   min="0" max="999" maxlength="4" size="4"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="width: 100%;">&nbsp;</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{accountOwner}" type="checkbox"
                                               id="accountOwner" name="accountOwner" value="true" checked>
                                        <label class="form-check-label" for="accountOwner">Account Owner</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Representative:</label>
                                    <input th:field="*{representative}" class="form-control" type="text"
                                           id="representative" name="representative"/>
                                    <input type="hidden"
                                           th:value="${dailySavingAccountTransaction.dailySavingAccount.id}"
                                           th:attr="name='dailySavingAccountId'"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Notes:</label>
                                    <textarea class="form-control" placeholder="Enter Notes ..." id="notes" rows="2"
                                              cols="70" th:field="*{notes}" maxlength="255"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">SUBMIT TRANSACTION</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="account-diposit-history">
                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_TRANSACTIONS_PRINT'')')}">
                        <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}"><span
                                th:text="${dailySavingAccountTransaction.dailySavingAccount.accountType.displayName}"/>
                            PROCESSED
                            <a th:style="${'color:' + session.runtimeSettings.themeColor}" href="#"
                               th:href="@{/statementPDF/{id}(id=${dailySavingAccountTransaction.dailySavingAccount.id})}">
                                <i class="far fa-file-pdf"></i>
                            </a>
                        </h2>
                    </div>

                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_ACCOUNT_BALANCES'')')}">
                        <table>
                            <thead>
                            <tr>
                                <th>Payment Date</th>
                                <th>MOP</th>
                                <th>Reference</th>
                                <th>Agent</th>
                                <th>Owner</th>
                                <th>Notes</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th th:text="${dailySavingBilanzList.totalSaving}"></th>
                                <th>Representative</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="bilanz : ${dailySavingBilanzList.savingBilanzList}">
                                <td th:text="${bilanz.createdDate}"></td>
                                <td th:text="${bilanz.modeOfPayment}"></td>
                                <td th:text="${bilanz.reference}"></td>
                                <td th:text="${bilanz.agent}"></td>
                                <td th:text="${bilanz.accountOwner}"></td>
                                <td th:text="${bilanz.notes}"></td>
                                <td>
                                    <span th:if="${bilanz.savingAmount} < 0"
                                          th:text="${#numbers.formatDecimal(bilanz.savingAmount*-1, 0, 'COMMA', 0, 'POINT')}"/>
                                </td>
                                <td>
                                    <span th:if="${bilanz.savingAmount} > 0"
                                          th:text="${#numbers.formatDecimal(bilanz.savingAmount, 0, 'COMMA', 0, 'POINT')}"/>
                                </td>
                                <td th:text="${bilanz.currentBalance}"></td>
                                <td th:text="${bilanz.representative}"></td>
                                <td>
                                    <a th:style="${'color:' + session.runtimeSettings.themeColor}" href="#"
                                       th:href="@{/createDailySavingAccountReceiptPdf/{id}(id=${bilanz.id})}">
                                        <i class="far fa-file-pdf"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="footer::navbar"></div>
</body>
</html>