<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar" class="sticky-header" ></div>
<!-- Contact form area start -->
<section class="contact-form-area-start space-40 df-bg">
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">UPDATE USER ROLES</h2>
                        <span>Click Add or Remove to update the User's role</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Project title area end-->

    <div class="contact-from-area">

        <!--        <div class="container">-->
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <font size="6px" color="#fd7e14"> <span th:text="${updatedInfo}"/></font>
                <font size="5px" color="red"> <span th:text="${updatedInfoError}"/></font>
                <form action="#" th:action="@{/editUserRoleForm}" method="post" th:object="${user}">
                    <div class="col-md-12">

                        <table border="0" class="center" width="100%" cellpadding="5">
                            <tr>
                                <td style="vertical-align:top">
                                    <b><span th:text="${user.gender}"/>. &nbsp;<span th:text="${user.firstName}"/>&nbsp;
                                        <span th:text="${user.lastName}"/></b> (<span th:text="${user.userName}"/>)
                                    <br/>
                                    <font size="3">-- Current Roles Assigned --</font><br/>
                                    <font color="#803e59">
                                        User userRoles
                                        <div th:each="userRole : ${user.userRole}">
                                            <span th:text="${userRole.name}"></span>
                                            <a class="table-list-button-icon"
                                               th:href="@{/removeRole/{id}/{userId}(id=${userRole.id},userId=${user.id})}">
                                                Remove --> </a>
                                        </div>
                                    </font>
                                </td>
                                <td style="vertical-align:top">
                                    <strong>-- Other Possible Roles --</strong>
                                    <table>
                                        <div th:each="aRole : ${allUserRoles}">
                                            <span th:text="${aRole.name}"></span>
                                            <a class="table-list-button-icon"
                                               th:href="@{/addRole/{id}/{userId}(id=${aRole.id},userId=${user.id})}">
                                                Add <-- </a>
                                        </div>

                                        <input type="hidden" th:name="userId" th:value="${user.id}"/> <br/>
                                        </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <!--        </div>-->

    </div>
</section>

<div th:insert="footer::navbar">
</div>
</html>