<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<div class="container">
    <div th:fragment="navbar" class="app-footer">
        <table width="100%" class="center" border="0px">
            <tr>
                <td>
                    <!--Footer area start-->
                    <footer class="footer-area-start">

                        <!--Footer content area start-->
                        <div class="footer-content-area-start">
                            <div class="container">
                                <div class="row">
                                    <!--Single footer widget start-->
                                    <div class="col-md-3 mb-sm-5 mb-md-0">
                                        <div class="single-footer-widget">
                                            <div class="logo-area">
                                                <span th:if="${session.runtimeSettings != null}">
                                                    <a href="#"><span class="logo-area-title" th:style="${'color:' + session.runtimeSettings.themeColor}"
                                                            th:text="${session.runtimeSettings.businessName}"></span>
                                                    </a>

                                                </span>

                                            </div>

                <!-- <font th:style="${'color:' + session.runtimeSettings.themeColor}">
                    <div th:text="${session.runtimeSettings.themeColor}" />
                </font> -->
<!--                <td th:text="${gl?.ledgerAccount?.displayName}"></td>-->
                <p><span th:text="${session?.runtimeSettings?.slogan}"/></p>
                                            <div class="team-member-social-icon">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                                <a href="#"><i class="fab fa-instagram"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Single footer widget end-->

                                    <!--Single footer widget footer menu start-->
                                    <div class="col-md-2 mb-sm-5 mb-md-0 hide-mobile">
                                        <div class="single-footer-widget">
                                            <h5>Features</h5>
                                            <ul class="footer-menu">
                                                <li><a href="#">Home</a></li>
<!--                                                <li><a href="#">About</a></li>-->
                                                <!--                            <li><a href="#">Portfolio</a></li>-->
                                                <li><a href="#">Terms/Agreement</a></li>
<!--                                                <li><a href="#">Policy</a></li>-->
                                            </ul>
                                        </div>
                                    </div>
                                    <!--Single footer widget footer menu end-->

                                    <!--Single footer widget footer menu start-->
                                    <div class="col-md-4 mb-sm-5 mb-md-0 hide-mobile">
                                        <div class="single-footer-widget">
                                            <h5>Recent Notes</h5>
                                            <div class="media">
                                                <div class="media-body">
                                                    <p><span th:text="${session?.runtimeSettings?.notes}"/></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Single footer widget footer menu end-->

                                    <!--Single footer widget footer menu start-->
                                    <div class="col-md-3 hide-mobile">
                                        <div class="single-footer-widget">

                                            <span th:if="${session.runtimeSettings != null}">
                                            <h5 th:text="${session.runtimeSettings.businessName}"/></h5>
                                            <ul class="footer-menu-touch">
                                                <li>
                                                    <!--<i class="fas fa-map-marker mr-2"></i> &ndash;&gt;-->
                                                    <div th:text="${session.runtimeSettings.address}"/>
                                                </li>
                                                <li>
                                                    <!--                            <i class="fas fa-envelope mr-2"></i> -->
                                                    <div th:text="${session.runtimeSettings.email}"/>
                                                </li>
                                                <li>
                                                    <!--                            <i class="fas fa-mobile mr-2"></i> -->
                                                    <div th:text="${session.runtimeSettings.telephone}"/>
                                                </li>
                                                <li>
                                                    <!--                            <i class="fas fa-globe-asia mr-2"></i> -->
                                                    <div th:text="${session.runtimeSettings.website}"/>
                                                </li>
                                                <!--<li><i class="fab fa-twitter mr-2"></i> www.socialmedia.com</li>-->
                                            </ul>
                                            </span>
                                        </div>
                                    </div>
                                    <!--Single footer widget footer menu end-->
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!--Footer area end-->

                </td>
            </tr>
        </table>
    </div>
</div>
<!--jQuery-->
<script src="/assets/js/jquery-3.5.1.min.js"></script>
<!--Bootstrap-->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Waypoint js -->
<script src="/assets/js/jquery.waypoints.js"></script>
<!-- Counter Up -->
<script src="/assets/js/jquery.counterup.min.js"></script>
<!--Owl-Carousel-->
<script src="/assets/js/owl.carousel.min.js"></script>
<!--Parallax-->
<script src="/assets/js/parallax.min.js"></script>
<!-- Isotope JS -->
<script src="/assets/js/isotope.pkgd.min.js"></script>
<!-- MMenu JS -->
<script src="/assets/js/jquery.slicknav.min.js"></script>
<!-- magnific Js -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Progress Bar -->
<script src="/assets/js/jquery.lineProgressbar.js"></script>
<!-- Countdown Js -->
<script src="/assets/js/jquery.countdown.min.js"></script>
<!--Custom Js-->
<script src="/assets/js/custom.js"></script>

</div>
</html>