<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar" class="sticky-header" ></div>
<section class="main-page-container">
    <!--Project title area start-->
    <!-- <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}" th:text="${glAddEntryTitle}"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--Project title area end-->
    <div class="container">
        <div class="radius-container">
            <div class="radius-container-title" th:style="${'background-color:' + session.runtimeSettings.themeColor2}">
                <h2 th:text="${glAddEntryTitle}"></h2>
            </div>
            <div class="gl-account-form-container">
                <form action="#" th:action="@{/addLedgerEntryFormReviewForm}" method="post" th:object="${ledgerEntryDTO}">
                    <span class="alert alert-danger" th:if="${error}" th:text="${error}"/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label th:text="${originLedgerAccount.code}"></label>
                                <select class="form-control" name="creditOrDebit" id="creditOrDebit" th:field="*{creditOrDebit}">
                                    <option th:value="DEBIT"><span th:text="DEBIT"/></option>
                                    <option th:value="CREDIT"><span th:text="CREDIT"/></option>
                                </select>
                                <select hidden name="originLedgerAccount" id="origin" th:field="*{originLedgerAccount}">
                                    <option th:value="${originLedgerAccount.id}">
                                        <span th:text="${originLedgerAccount.code}"/>
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Double Entry To:</label>
                                <select class="form-control" th:field="*{destinationLedgerAccount}">
                                    <option th:each="i : ${destinationLedgerAccounts}"
                                            th:value="${i.id}">
                                        <span th:text="${i.code}"/>
                                    </option>
                                </select>
                                <span class="info">(Opposite booking Type happens here)</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Amount:</label>
                                <input class="form-control amount-field" size="6" name="ledgerAmount" type="text" th:field="*{ledgerAmount}"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recordDate">Record Date:</label>
                                <input type="date" placeholder="Entry Date" name="recordDate" th:field="*{recordDate}" id="recordDate"
                                       class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div th:if="${session.runtimeSettings.billSelectionEnabled}">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="bill-section-title"
                                th:style="${'color:' + session.runtimeSettings.themeColor2}">BILL SELECTION:</h4>
                            <div class="bill-selection-row">
                                <div class="bill-selection-col">
                                    <div class="form-group">
                                        <label>10 000:</label>
                                        <input class="form-control" name="tenThousand" th:field="*{tenThousand}" type="number" min="0" max="999" maxlength="4"
                        size="4"/>
                                    </div>
                                </div>
                                <div class="bill-selection-col">
                                    <div class="form-group">
                                        <label>5 000:</label>
                                        <input class="form-control" name="fiveThousand" th:field="*{fiveThousand}" type="number" min="0" max="999" maxlength="4"
                        size="4"/>
                                    </div>
                                </div>
                                <div class="bill-selection-col">
                                    <div class="form-group">
                                        <label>2 000:</label>
                                        <input class="form-control" name="twoThousand" th:field="*{twoThousand}" type="number" min="0" max="999" maxlength="4"
                        size="4"/>
                                    </div>
                                </div>
                                <div class="bill-selection-col">
                                    <div class="form-group">
                                        <label>1 000:</label>
                                        <input class="form-control" name="oneThousand" th:field="*{oneThousand}" type="number" min="0" max="999" maxlength="4"
                        size="4"/>
                                    </div>
                                </div>
                                <div class="bill-selection-col">
                                    <div class="form-group">
                                        <label>500:</label>
                                        <input class="form-control" name="fiveHundred" th:field="*{fiveHundred}" type="number" min="0" max="999" maxlength="4"
                        size="4"/>
                                    </div>
                                </div>
                                <div class="bill-selection-col">
                                    <div class="form-group">
                                        <label>100:</label>
                                        <input class="form-control" name="oneHundred" th:field="*{oneHundred}" type="number" min="0" max="999" maxlength="4"
                        size="4"/>
                                    </div>
                                </div>
                                <div class="bill-selection-col">
                                    <div class="form-group">
                                        <label>50:</label>
                                        <input class="form-control" name="fifty" th:field="*{fifty}" type="number" min="0" max="999" maxlength="4" size="4"/>
                                    </div>
                                </div>
                                <div class="bill-selection-col">
                                    <div class="form-group">
                                        <label>25:</label>
                                        <input class="form-control" name="twentyFive" th:field="*{twentyFive}" type="number" min="0" max="999" maxlength="4"
                        size="4"/>
                                    </div>
                                </div>
                                <div class="bill-selection-col">
                                    <div class="form-group">
                                        <label>10:</label>
                                        <input class="form-control" name="ten" th:field="*{ten}" type="number" min="0" max="999" maxlength="4"
                        size="4"/>
                                    </div>
                                </div>
                                <div class="bill-selection-col">
                                    <div class="form-group">
                                        <label>5:</label>
                                        <input class="form-control" name="five" th:field="*{five}" type="number" min="0" max="999" maxlength="4"
                        size="4"/>
                                    </div>
                                </div>
                                <div class="bill-selection-col">
                                    <div class="form-group">
                                        <label>1:</label>
                                        <input class="form-control" name="one" th:field="*{one}" type="number" min="0" max="999" maxlength="4"
                        size="4"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Notes:</label>
                                <input size="50" class="form-control" type="text" placeholder="Notes here ...." id="notes" th:field="*{notes}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">NEXT - Review Entry</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div th:insert="footer::navbar"></div>
</html>
