<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar" class="sticky-header" ></div>
<br/>
<br/>
<br/>
<div th:insert="summary::navbar"></div>

<div class="container">
<!--    <section class="choosen-area-start space">-->

        <form action="#" th:action="@{/userHomeLedgerEntryForm}" method="post" th:object="${ledgerEntryDTO}">
            <table align="top" border="0" class="center" width="100%" cellpadding="5">
                <tr><td colspan="2">
                    <font color="orange" size="6px"> <span th:text="${glAddEntryToAccountsInfo}"/></font><br/>
                    <font size="4px" color="green"><b>GL ACCOUNT TO USER ACCOUNT TRANSFER</b></font>
                    <font color="gray" size="8px"> <span th:text="${glAddEntryFromAccountsInfo}"/></font>
                </td></tr>
                <tr>
                    <td style="width:50%">
                        <b>Enter Amount</b><br/>
                        <input required class="selectAmount" name="glAccountAmount" type="text" th:field="*{ledgerAmount}"/>
                        <br/>
                        <font size="2">(Amount to be transfered between accounts )</font>
                    </td>
                    <td style="width:50%"><b>Date</b><br/>
                        <input class="selectNormal" required name="recordDate" type="date"/><br/>
                        <font size="2"> Record entry date</font>
                    </td>
                </tr>
                <tr><td></td></tr>
                <tr>
                <td style="width:50%">
                <b>Select From</b>
                <br/>
                <select class="selectNormal" th:field="*{originLedgerAccount}">
                    <option th:each="i : ${originLedgerAccounts}"
                            th:value="${i.id}">
                        <span th:text="${i.code}"/>
                    </option>
                </select>
                <br/>
                    <font size="2"> (Opposite booking Type happens in various customer accounts)</font>
                </td>

                    <td style="width:50%">
                        <b> Notes:</b><br/>
                        <textarea class="selectNormal" id="notes" rows="3" cols="40" th:field="*{notes}"/>
                    </td>

                </tr>
            </table>

            <table border="0" class="center" width="100%" cellpadding="5">
                <tr>
                    <td width="10%"></td>
                    <td colspan="3">
                        <br>
                        <font color="green"><b>CURRENT ACCOUNTS</b></font>
                    </td>
                    <td colspan="1">
                        <br>
                        <font size="3" color="green">Total Sum of amount entered for individual accounts must add
                            up</font>
                    </td>
                </tr>
                <tr>
                    <td width="10%"></td>
                    <td colspan="4">
                        <div th:each="currentAccount : ${session.customerInUse.currentAccount}">
                        <font size="2">
                            Account Details:
                        </font>
                        <font size="4">
                            <span th:text="${currentAccount.accountNumber}"/></span>
<!--                            <br/>-->
<!--                            <span th:text="${currentAccount.accountType.name}"/>-->
                        </font>
                        <input class="selectAmount" required type="text" th:name="${currentAccount.accountNumber}">
                        <span th:text="' Balance: '+${#numbers.formatDecimal(currentAccount.accountBalance, 0, 'COMMA', 0, 'POINT')}"/>
                            <span>CURRENT ACCOUNT</span>
                        </div>
                    </td>
                </tr>
            </table>
            <table border="0" class="center" width="100%" cellpadding="5">
                <tr>
                    <td width="10%"></td>
                    <td colspan="4">
                        <br/>
                        <font color="green"><b>SAVING ACCOUNTS</b></font>
                    </td>
                </tr>
                <tr>
                    <td width="10%"></td>
                    <td colspan="4">
                        <div th:each="savingAccount : ${session.customerInUse.savingAccount}">
                            <font size="2">
                                Account Number:
                            </font>
                            <font size="4"><span th:text="${savingAccount.accountNumber}"/>
                            </font>

                            <input class="selectAmount" required type="text" th:name="${savingAccount.accountNumber}">

                            <span th:text="' Balance: '+${#numbers.formatDecimal(savingAccount.accountBalance, 0, 'COMMA', 0, 'POINT')}"/>
                            <span th:text="${savingAccount.accountType.name}"/>

                        </div>
                    </td>
                </tr>
            </table>
            <table border="0" class="center" width="100%" cellpadding="5">
                <tr>
                    <td width="10%"></td>
                    <td colspan="4">
                        <br/>
                        <font color="green"><b>LOAN ACCOUNTS</b></font>
                    </td>
                </tr>
                <tr>
                    <td width="10%"></td>
                    <td colspan="4">
                        <div th:each="loanAccount : ${session.customerInUse.loanAccount}">
                            <span th:if="${loanAccount.accountStatus.name == 'ACTIVE'}">
                                <font size="2">
                                    Account Number:
                                </font>
                                    <font size="4">
                                        <span th:text="${loanAccount.accountNumber}"/>
                                    </font>
                                <input class="selectAmount" required type="text" th:name="${loanAccount.accountNumber}">
                                <span th:text="' Balance: '+${#numbers.formatDecimal(loanAccount.loanAmount, 0, 'COMMA', 0, 'POINT')}"/>
                                <span th:text="${loanAccount.accountType.name}"/>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>

            <br/>
            <br/>

            <table>
                <tr>
                    <td width="40%">
                    </td>
                    <td width="30%">
                    <input type="submit" class="btn btn-success" value="SUBMIT LEDGER TRANSFER"/>
                </td>
                    <td width="30%">
                    </td>
                </tr>
            </table>


        </form>
        <br/><br/><br/>
        <div th:insert="blog::navbar">

        </div>
        <br/>
<!--    </section>-->
</div>
<div th:insert="footer::navbar"></div>
</html>