<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="navbar">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bitsvalley - bala@nz</title>
        <!-- Favicon  -->
        <link rel="icon" type="image/x-icon" th:href="@{/assets/images/favicon/faviconn.ico}">
        <!--Bootstrap-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
        <!--Fontawesome-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/all.min.css}">
        <!--Owl-carousel-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
        <!--Owl Carousel theme-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/owl.theme.default.min.css}">
        <!--Animate-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
        <!-- magnific CSS -->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
        <!-- Mmenu CSS -->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/slicknav.min.css}">
        <!--Style-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/style.css}">
        <!-- Responsive -->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/responsive.css}">

        <style>

        input.largerCheckbox {
            width: 20px;
            height: 20px;
        }

        table, th, td {
/* <!--          border: 0px solid #BF360C;--> */
          align: center;
          padding-right: 0px;
          margin: 10px;
        }
        table.center {
          margin-left: auto;
          margin-right: auto;
        }
          tr:nth-child(even) {background-color: #84c0d5;}

        .error {
            color: red;
            font-size: 25px;
        }

#filtersubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}

.select {
  width: 100%;
  height: 700px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: #6a8c98;
  border: none;
  border-bottom: 2px solid #80635b;
  color: white;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
}

.selectMedium {
  /* width: 10%; */
<!--  height: 25px;-->
  font-size: 150%;
  background-color: #6a8c98;
  padding: 5px;
  border-radius: 5;

/* <!--  font-weight: bold;-->
<!--  cursor: pointer;-->
<!--  border: none;-->
<!--  border-bottom: 2px solid #80635b;-->
<!--  color: white;-->
<!--  appearance: none;-->
<!--  -webkit-appearance: none;-->
<!--  -moz-appearance: none;-->
<!--  padding: 10px;--> */
}

.selectLarge50 {
  height: 100px;
  font-size: 150%;
  padding: 10px;
}

.selectNormal {
  height: 60px;
  font-size: 125%;
  padding: 10px;
}

.selectNormal100 {
  height: 60px;
  font-size: 125%;
  width: 70px;
  padding: 10px;
}

.selectNormal125 {
  height: 60px;
  font-size: 100%;
  width: 250px;
  padding: 10px;
}

.selectNormalPerc {
  height: 60px;
  font-size: 100%;
  width: 100%;
  padding: 10px;
}

.selectSearch {
  height: 40px;
  font-size: 150%;
  width: 350px;
  padding: 5px;
}

.selectAmount {
  height: 40px;
  width: 250px;
  font-size: 250%;
}

.selectSmall {
  height: 40px;
  width: 70px;
  font-size: 150%;
}


    </style>
    </head>

    <header class="app-header">
      <div class="container">
          <div class="inner-header">
              <div class="logo">
                <!-- <a th:href="@{/welcomeGlobal}"><img th:src="@{/getLogoImage}"></a> -->
                <a th:href="@{/welcomeGlobal}">
                    <img width="75px" th:src="@{/getLogoImage}"/>
<!--                    <img src="../assets/images/balaanz.png">-->
                </a>
              </div>
              <div class="global-search" th:if="${#authorization.expression('hasAnyAuthority(''ROLE_MAIN_SEARCH_USERS'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_MANAGER'')')}">
                  <form action="#" th:action="@{/findUserByUserName}" method="post">
                    <div class="search-field-header">
                      <input class="selectSearch" id="filter" name="aUserName" type="text" placeholder="Search..." />
                      <button class="search-btn" type="submit"><i id="filtersubmit" class="fa fa-search"></i></button>
                      <span class="search-error" th:text="${error}"></span>
                    </div>
                </form>
              </div>
              <nav>
                  <ul>
                    <li>
                      <a th:href="@{/welcomeGlobal}" th:style="${'color:' + session?.runtimeSettings?.themeColor}">Home</a>
                      <span class="menu-underline" th:style="${'background-color:' + session?.runtimeSettings?.themeColor}"></span>
                    </li>
                  </ul>
              </nav>
              <div class="user-action">
                <div class="user-dropdown">
                  <label th:text="${session.name}"></label>
                  <a class="user-thumb" href="javascript:void(0)">
                    <!-- <span sec:authentication="name"></span> -->
                    <i class="fas fa-user"></i>
                  </a>
                  <div class="user-menu">
                    <ul>
                      <li>
                        <a th:href="@{/updateProfile}" href="/updateProfile" th:style="${'color:' + session.runtimeSettings?.themeColor}">Profile</a>
                      </li>
                      <li>
                        <a th:href="@{/welcomeout}" th:style="${'color:' + session?.runtimeSettings?.themeColor}" href="/logout">Logout</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </header>

</div>
</html>