<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar" class="sticky-header"></div>

<body>

<section class="main-page-container">
    <div th:insert="summary::navbar"></div>
    <div class="container"> 
        <div class="radius-container loan-payment-container loan-details-container">
            <div class="loan-details-data">
                <div class="row vertical-space-20">
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Username</label>
                            <span>
                                <a href="#" th:href="@{/showCustomer/{id}(id=${session.customerInUse.id})}">
                                    <span style th:text="${session.customerInUse.gender +' '+session.customerInUse.firstName +' '+session.customerInUse.lastName }"/>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Loan Account Number</label>
                            <span>
                                <a href="#" th:href="@{/showCustomer/{userid}(userid=${loanAccountTransaction.loanAccount.user.id})}">
                                    <span th:text="${#strings.substring(loanAccountTransaction.loanAccount.accountNumber,0,5)} + ' ' +${#strings.substring(loanAccountTransaction.loanAccount.accountNumber,5,10)} + ' ' +${#strings.substring(loanAccountTransaction.loanAccount.accountNumber,10,21)} + ' ' +${#strings.substring(loanAccountTransaction.loanAccount.accountNumber,21,23)}"/>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Member Since</label>
                            <span th:text="${#dates.format(loanAccountTransaction.loanAccount.user.created, 'dd-MMM-yyyy HH:mm')}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Initial Loan Amount</label>
                            <span th:text="${loanAccountTransaction.loanAmount}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Principal Balance</label>
                            <span th:text="${loanBilanzList.currentLoanBalance}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Account Type</label>
                            <span class="snippet-status" th:text="${loanAccountTransaction.loanAccount.accountType.name}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Monthly Payment</label>
                            <span th:text="${#numbers.formatDecimal(loanAccountTransaction.loanAccount.monthlyPayment, 0, 'COMMA', 0, 'POINT')}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Loan Term</label>
                            <span>
                                <span th:text="${loanBilanzList.loanBilanzList[0].monthYearOfLastPayment}"> 
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Rate</label>
                            <span>
                                <span th:text="${loanAccountTransaction.loanAccount.interestRate}"> 
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Approved Date</label>
                            <span>
                                <span th:text="${loanAccountTransaction.loanAccount.approvedDate}"> 
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Approved By</label>
                            <span>
                                <span th:text="${loanAccountTransaction.loanAccount.approvedBy}"> 
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Loan Status</label>
                            <span th:if="${loanAccountTransaction.loanAccount.accountStatus.name == 'PENDING_APPROVAL'} AND ${#authorization.expression('hasAnyAuthority(''ROLE_MANAGER'')')}">
                                <span  th:if="${#authorization.expression('hasAnyAuthority(''ROLE_LOAN_APPROVE'')')}"> 
                                    <a th:href="@{/approveLoan/{id}(id=${loanAccountTransaction.loanAccount.id})}">
                                        APPROVE THIS LOAN
                                   </a>
                                </span>
                                <span th:unless="${#authorization.expression('hasAnyAuthority(''ROLE_LOAN_APPROVE'')')}">
                                    <label title="Requires ROLE_APPROVE_LOAN">APPROVE THIS LOAN <img width="25px" th:src="@{/assets/images/toolTip.png}"/></label>
                                </span>
                            </span>
                            <span th:text="${loanAccountTransaction.loanAccount.accountStatus}"></span>
                        </div>
                    </div>
                    <div class="col-md-4" th:each="surety: ${loanAccountTransaction.loanAccount.shorteeAccounts}">
                        <div class="data-snippet">
                            <label>Guarantor</label>
                            <span>
                                <span th:text="${surety.savingAccount.user.lastName}"></span>
                                <span th:text="${surety.savingAccount.user.firstName}"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Notes</label>
                            <span>
                                <span th:text="${loanAccountTransaction.loanAccount.notes}"> 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="share-holder-form">
                <div class="error" th:text="${billSelectionError}" ></div>
                <div th:text="${billSelectionInfo}"/>
                <h2>MAKE A <span th:text="${session.runtimeSettings.loanAccount}"/> TRANSACTION  </h2>
                <form action="#" th:action="@{/registerLoanAccountTransactionForm}" method="post"
                th:object="${loanAccountTransaction}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Transaction Type: </label> 
                                <select class="form-control" name="deposit_withdrawal"> 
                                    <option value="LOAN PAYMENT">LOAN PAYMENT</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Transaction Mode:</label> 
                                <select class="form-control" name="modeOfPayment" id="modeOfPayment"> 
                                    <option value="CASH">CASH</option>
                                    <option disabled value="MOMO">MOMO</option>
                                    <option disabled value="ORANGE MONEY">ORANGE MONEY</option>
                                    <option disabled value="TRANSFER">TRANSFER</option>
                                    <option value="PAYPAL">PAYPAL</option>
                                    <option value="RECEIPT">RECEIPT</option>
                                    <option disabled value="OTHER">OTHER</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Enter Amount:  <span
                                    th:text="${#numbers.formatDecimal(loanAccountTransaction.loanAccount.minimumPayment, 0, 'COMMA', 0, 'POINT')}"/>
                                    Minimum:</label>

                                <input class="form-control amount-field" min="1" placeholder="Enter Amount"  size="6" type="number"
                                    th:field="*{amountReceived}"
                                    value="${loanAccountTransaction.amountReceived}"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Amount in Letters:</label>
                                <textarea class="form-control" id="loanAmountInLetters" rows="1" cols="90"
                                th:field="*{loanAmountInLetters}" maxlength="255">
                            </textarea>
                            </div>
                        </div>
                    </div>

                    <div th:if="${session.runtimeSettings.billSelectionEnabled}">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="bill-section-title"
                                    th:style="${'color:' + session.runtimeSettings.themeColor2}">BILL SELECTION:</h4>
                                <div class="bill-selection-row">
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>10 000:</label>
                                            <input class="form-control" name="tenThousand" th:field="*{tenThousand}" type="number" min="0" max="999" maxlength="4" value="${loanAccountTransaction.tenThousand}" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>5 000:</label>
                                            <input class="form-control" name="fiveThousand" th:field="*{fiveThousand}" type="number" min="0" max="999" maxlength="4"
                                            size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>2 000:</label>
                                            <input class="form-control" name="twoThousand" th:field="*{twoThousand}" type="number" min="0" max="999" maxlength="4" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>1 000:</label>
                                            <input class="form-control" name="oneThousand" th:field="*{oneThousand}" type="number" min="0" max="999" maxlength="4"
                                            size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>500:</label>
                                            <input class="form-control" name="fiveHundred" th:field="*{fiveHundred}" type="number" min="0" max="999" maxlength="4"
                                            size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>100:</label>
                                            <input class="form-control" name="oneHundred" th:field="*{oneHundred}" type="number" min="0" max="999" maxlength="4"
                                            size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>50:</label>
                                            <input class="form-control" name="fifty" th:field="*{fifty}" type="number" min="0" max="999" maxlength="4"
                                            size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>25:</label>
                                            <input class="form-control" name="twentyFive" th:field="*{twentyFive}" type="number" min="0" max="999" maxlength="4" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>10:</label>
                                            <input class="form-control" name="ten" th:field="*{ten}" type="number" min="0" max="999" maxlength="4"
                                            size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>5:</label>
                                            <input class="form-control" name="five" th:field="*{five}" type="number" min="0" max="999" maxlength="4" size="4"/>
                                        </div>
                                    </div>
                                    <div class="bill-selection-col">
                                        <div class="form-group">
                                            <label>1:</label>
                                            <input class="form-control" name="one" th:field="*{one}" type="number" min="0" max="999" maxlength="4"
                                            size="4"/>
                                        </div>
                                    </div>
                                    <input type="hidden" th:value="${loanAccountTransaction.loanAccount.id}"
                            th:attr="name='loanAccountId'"/>
                                </div>
                            </div>
                        </div>
                    </div> 
                    

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Notes:</label>
                                <textarea class="form-control" placeholder="Enter Notes ..." id="notes" rows="2" cols="90" th:field="*{notes}"
                                maxlength="255"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="width: 100%;">&nbsp;</label>
                                <div class="form-check form-check-inline">
                                    <input 
                                    class="form-check-input" 
                                    id="accountOwner" 
                                    th:field="*{accountOwner}" 
                                    type="checkbox" name="accountOwner" value="true" checked />
                                    <label class="form-check-label" for="accountOwner">Account Owner</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" th:field="*{increaseGuarantorMinimum}" type="checkbox"
                                    id="increaseGuarantorMinimum" name="increaseGuarantorMinimum" value="true"
                                    checked />
                                    <label class="form-check-label" for="increaseGuarantorMinimum">Increase Guarantor Minimum:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Representative:</label>
                                <input class="form-control" th:field="*{representative}" type="text" id="representative" name="representative"/>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="width: 100%;">&nbsp;</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" th:field="*{increaseGuarantorMinimum}" type="checkbox"
                                    id="increaseGuarantorMinimum" name="increaseGuarantorMinimum" value="true"
                                    checked />
                                    <label class="form-check-label" for="increaseGuarantorMinimum">Increase Guarantor Minimum:</label>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">SUBMIT PAYMENT TRANSACTION</button>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="loan-account-transaction">
                <div class="ledger-container">
                    <div class="ledger-summary">
                        <div class="count-row">
                            <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}"><span th:text="${loanAccountTransaction.loanAccount.accountType.name}"/> PAYMENTS PROCESSED</h2>
                            <div class="count-view red-view">
                                <label>Initial Loan Amount:</label>
                                <span th:text="${loanBilanzList.totalLoan}"> 
                                </span> 
                            </div>
                            <div class="count-view green-view">
                                <label>Current Loan Amount:</label>
                                <span th:text="${loanBilanzList.currentLoanBalance}"> 
                                </span>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loan-tran-list">
                    <table class="default-list">
                        <thead>
                        <tr>
                            <th>Date For Payment</th>
                            <th>MOP</th> 
                            <th>Reference</th> 
                            <th>Agent</th>
                            <th>Owner</th>
                            <th>Notes</th>
                            <th>Debit</th>
                            <th>Credit</th> 
                            <th>Interest</th> 
                            <th>VAT</th>
                            <th>Representative</th> 
                            <th>Current Balance</th> 
                            <th><a href="#" th:style="${'color:' + session.runtimeSettings.themeColor}" th:href="@{/statementLoanPDF/{id}(id=${loanAccountTransaction.loanAccount.id})}"><i class="far fa-file-pdf"></i>
                            </a></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="bilanz : ${loanBilanzList.loanBilanzList}">
                                <td th:text="${bilanz.createdDate}"></td>
                                <td th:text="${bilanz.modeOfPayment}"></td> 
                                <td th:text="${bilanz.reference}"></td> 
                                <td th:text="${bilanz.agent}"></td>
                                <td th:text="${bilanz.accountOwner}"></td>
                                <td th:text="${bilanz.notes}"></td>
                    
                                <td th:text="${bilanz.loanAmount}"></td>
                                <td th:text="${bilanz.amountReceived}"></td> 
                                <td th:text="${bilanz.interestAccrued}"></td> 
                                <td th:text="${bilanz.vatPercent}"></td>
                                <td th:text="${bilanz.representative}"></td>
                                <td th:text="${bilanz.currentBalance}"></td>
                                <td>
                                    <a href="#" th:style="${'color:' + session.runtimeSettings.themeColor}" th:href="@{/createLoanAccountReceiptPdf/{id}(id=${bilanz.id})}">
                                        <i class="far fa-file-pdf"></i>
                                    </a>                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="footer::navbar"></div>
</body>

</html>
