<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header"></div>

<section class="main-page-container">
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">LOAN DETAILS</h2>
                        <span>Kindly review loan details and accordingly approve or reject.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Project title area end-->
    <div class="container">
        <div class="radius-container loan-details-container">
            <div class="loan-details-action">
                <span th:if="${loan.accountStatus.name == 'PENDING_APPROVAL'}">
                    <a class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" href="#"
                       th:href="@{/approveLoan/{id}(id=${loan.id})}">APPROVE THIS LOAN</a>
                </span>
                <span th:if="${loan.accountStatus.name == 'PENDING_APPROVAL'}">
                    <a class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" href="#" th:href="@{/rejectLoan/{id}(id=${loan.id})}">REJECT THIS LOAN</a>
                </span>
                <span class="loan-transfer-details">
                    <span class="alert alert-success" th:if="${loanDetailsInfo}" th:text="${loanDetailsInfo}"/>
                    <span th:if="${loan.accountStatus.name == 'PENDING_PAYOUT'}">
                        <p>Transfer loan amount(
                            <span th:text="${#numbers.formatDecimal(loan.loanAmount, 0, 'COMMA', 0, 'POINT')}"/>) to
                            <span th:text="${loan.user.lastName}"/>'s current account.
                            This loan was APPROVED by <span th:text="${loan.approvedBy}"/> on <span
                                    th:text="${#dates.format(loan.approvedDate, 'dd-MMM-yyyy HH:mm')}"/></p>
                        <a class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" href="#" th:href="@{/transferToCurrent/{id}(id=${loan.id})}">
                            <i class="fas fa-exchange-alt"></i> MAKE TRANSFER
                        </a>
                        <a class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" href="#" th:href="@{/getPaymentSchedule/{id}(id=${loan.id})}">
                            <i class="far fa-file-pdf"></i> SEE AMORTISATION PLAN
                        </a>
                    </span>
                </span>
                <span class="alert alert-danger" th:if="${error}" th:text="${error}"/>
            </div>
            <div class="loan-details-data">
                <div class="row vertical-space-20">
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Loan Owner</label>
                            <span>
                                <span th:text="${loan.user.gender}"/>.
                                <span th:text="${loan.user.firstName}"/> 
                                <span th:text="${loan.user.lastName}"/>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Account Number</label>
                            <span th:text="${loan.accountNumber}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Loan Amount</label>
                            <span th:text="${#numbers.formatDecimal(loan.loanAmount, 0, 'COMMA', 0, 'POINT')}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Created By</label>
                            <span th:text="${loan.createdBy}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Created On</label>
                            <span th:text="${#dates.format(loan.createdDate, 'dd-MMM-yyyy HH:mm')}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Loan Status</label>
                            <span class="snippet-status" th:text="${loan.accountStatus.name}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Monthly Payment</label>
                            <span th:text="${#numbers.formatDecimal(loan.monthlyPayment, 0, 'COMMA', 0, 'POINT')}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Account Type</label>
                            <span th:text="${loan.accountType.name}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Interest Rate</label>
                            <span th:text="${loan.interestRate}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Country / Branch Created</label>
                            <span>
                                <span th:text="${loan.country}"/>/
                                <span th:text="${loan.branchCode}"/>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Loan Term</label>
                            <span th:text="${loan.termOfLoan}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Loan Surety</label>
                            <span>
                                <ul>
                                    <li th:each="surety: ${loan.shorteeAccounts}">
                                        <span th:text="${surety.savingAccount.user.gender +'. '+ surety.savingAccount.user.firstName +' '+ surety.savingAccount.user.lastName}"></span>
                                        <span th:text="${#numbers.formatDecimal(surety.amountShortee, 0, 'COMMA', 0, 'POINT')}"></span>
                                        <span th:text="${surety.savingAccount.accountNumber}"></span>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Term of Loan</label>
                            <span th:text="${loan.termOfLoan}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Surety Assets</label>
                            <!-- <span th:text="${loan.termOfLoan}"></span> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-snippet">
                            <label>Notes</label>
                            <span th:text="${loan.notes}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="footer::navbar"></div>
</html>
