<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitsvalley Payments</title>
    <!-- Favicon  -->
    <link rel="icon" type="image/x-icon" th:href="@{assets/images/favicon/faviconn.ico}">
    <link rel="stylesheet" th:href="@{../css/main.css}" type="text/css}"/>

    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/bootstrap.min.css}">
    <!--Fontawesome-->
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/all.min.css}">
    <!--Owl-carousel-->
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/owl.carousel.min.css}">
    <!--Owl Carousel theme-->
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/owl.theme.default.min.css}">
    <!--Animate-->
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/animate.min.css}">
    <!-- magnific CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/magnific-popup.css}">
    <!-- Mmenu CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/slicknav.min.css}">
    <!--Style-->
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/style.css}">
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/responsive.css}">
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <style type="text/css">
        .inner-header .logo img { max-height: 80px; }
        .header { background: #e7e7e7; }
        .banner { background: #ff7b00; }
        .header .login-section form input { background: #ffffff; color: #333333; }
        .header .login-section form input::placeholder { color: #999999; }
        .header .login-section form input:-ms-input-placeholder { color: #999999; }
        .header .login-section form input::-ms-input-placeholder { color: #999999; }
        .header .login-section form input#username { border-color: #cdcdcd; }
        .header .login-section form .login-button { background: #001850; }
        .banner .inner-banner .banner-slide .btn-row button.primary-button { background: #001850; }
        .header .nav-bar .nav-bar-btn { color: #333333; }
        .banner .inner-banner .banner-slide .btn-row button.secondary-button { background: rgba(255,255,255,0.2); }
        footer.footer-area-start { background: #ff7b00; }
        .project-title-content span:before, .project-title-content span:after { background: #ff7b00; } 
        .single-choosen-content h4 { color: #ff7b00; }
        .single-choosen-content:after { background: rgba(0,0,0,0.3); }
        .slider-area-start.owl-carousel { overflow: hidden; }
    </style>
</head>

<header class="header">
    <div class="container">
        <div class="inner-header">
            <div class="logo">
                <a href="/login"><img src="/assets/images/TBCLtd.png" /></a>
            </div>
            <div class="login-section">
                <form class="login-form" name='f' action="login" method='POST'>
                    <input type="text" name="username" id="username" required placeholder="Username" />
                    <input type="password" name="password" id="password" required placeholder="Password" />
                    <button type="submit" class="login-button">
                        <span class="material-symbols-outlined">
                            lock
                        </span>
                        Login
                    </button>
                </form>
            </div>
            <div class="nav-bar">
                <button class="nav-bar-btn">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
            </div>

        </div>
    </div>
</header>
<section class="banner slider-area-start owl-carousel">
    <div class="banner-slide">    
        <div class="container">
            <div class="inner-banner">
                <div class="banner-slide">
                    <div class="banner-content">
                        <h4>TBC</h4>
                        <h2>YOUR PREMIER BANK</h2>
                        <p>BANKING MADE EASY</p>
                        <div class="btn-row">
                            <button class="primary-button">
                                Free Trial
                            </button>
                            <button class="secondary-button">
                                Meet an Expert
                            </button>
                        </div>
                    </div>
                    <!-- <div class="banner-image">
                        <img src="https://balaanz.com/assets/images/TBCLtd.png" />
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="banner-slide">    
        <div class="container">
            <div class="inner-banner">
                <div class="banner-slide">
                    <div class="banner-content">
                        <h4>Balaanz</h4>
                        <h2>Meet our finance Experts</h2>
                        <p>Saving is Silver, Investment is Gold.</p>
                        <div class="btn-row">
                            <button class="primary-button">
                                Free Trial
                            </button>
                            <button class="secondary-button">
                                Meet an Expert
                            </button>
                        </div>
                    </div>
                    <div class="banner-image">
                        <img src="https://balaanz.com/assets/images/TBCLtd.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Slider area end-->
<br/>
<!--Choosen area start-->

    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="project-title-content">
                        <h3>Why you choose bala@nz?</h3>
                        <span><i class="fas fa-crosshairs"></i></span>
                        <p>We innovate and consult with our financial team and the result is bala@nz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Project title area end-->

    <!--Choosen main area start-->
    <div class="choosen-main-area-start">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-choosen-content box-pad shadow text-center">
                        <img src="assets/images/choosen/advisor.svg" alt="choosen-image">
                        <h4>Expert Advisor</h4>
                        <p>A team of financial experts is on your side. All the time.</p>
                    </div>
                </div>
                <!--Single choosen area end-->
                <div class="col-md-4 mt-sm-5 mb-sm-5 mt-md-0 mb-md-0">
                    <div class="single-choosen-content box-pad shadow text-center">
                        <img src="assets/images/choosen/pc.svg" alt="choosen-image">
                        <h4>Financial Market Research</h4>
                        <p>We create financial community awareness.</p>
                    </div>
                </div>
                <!--Single choosen area end-->
                <div class="col-md-4">
                    <div class="single-choosen-content box-pad shadow text-center">
                        <img src="assets/images/choosen/consultant.svg" alt="choosen-image">
                        <h4>Customer Insights</h4>
                        <p>We go to our customers no matter where they are.</p>
                    </div>
                </div>
                <!--Single choosen area end-->
            </div>
        </div>
    </div>
    <!--Choosen main area end-->
<br/>
<br/>
<!--Choosen area end-->
<!--Blog area start-->
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="project-title-content">
                        <h3>Our Services</h3>
                        <span><i class="fas fa-crosshairs"></i></span>
                        <p>Cross agency Co-ordination, Clean water rural, promising development turmoil inclusive
                            education transformative community.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Project title area end-->

<div th:insert="blog::navbar"></div>

<!--Blog area end-->

<!--<div th:insert="footer::navbar">  </div>-->



<div th:fragment="navbar" class="app-footer">

    <table width="100%" class="center" border="0"><tr><td>

        <!--Footer area start-->
        <footer class="footer-area-start">

            <!--Footer content area start-->
            <div class="footer-content-area-start">
                <div class="container">
                    <div class="row">
                        <!--Single footer widget start-->
                        <div class="col-md-3 mb-sm-5 mb-md-0">
                            <div class="single-footer-widget">
                                <div class="logo-area">
                                </div>
                                <p>The financial institution on your side. We will consult with you on a one on one basis?</p>
                                <div class="team-member-social-icon">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--Single footer widget end-->

                        <!--Single footer widget footer menu start-->
                        <div class="col-md-2 mb-sm-5 mb-md-0">
                            <div class="single-footer-widget">
                                <h5>Features</h5>
                                <ul class="footer-menu">
                                    <li><a href="#">Home</a></li>
<!--                                    <li><a href="#">About</a></li>-->
                                    <li><a href="#">Portfolio</a></li>
<!--                                    <li><a href="#">Help</a></li>-->
<!--                                    <li><a href="#">Policy</a></li>-->
                                </ul>
                            </div>
                        </div>
                        <!--Single footer widget footer menu end-->

                        <!--Single footer widget footer menu start-->
                        <div class="col-md-4 mb-sm-5 mb-md-0">
                            <div class="single-footer-widget">
                                <h5>Recent News</h5>
                                <div class="media">
                                    <div class="media-body">
                                        <p>Cameroon’s microfinance institutions are still largely concentrated in the cities, although 60% of the total populatio a growing share of ACEP Cameroun’s activity.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single footer widget footer menu end-->

                        <!--Single footer widget footer menu start-->
                        <div class="col-md-3">
                            <div class="single-footer-widget">

                            </div>
                        </div>
                        <!--Single footer widget footer menu end-->
                    </div>
                </div>
            </div>
        </footer>
        <!--Footer area end-->

    </td></tr></table>

    <!--jQuery-->
    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <!--Bootstrap-->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Waypoint js -->
    <script src="/assets/js/jquery.waypoints.js"></script>
    <!-- Counter Up -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!--Owl-Carousel-->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!--Parallax-->
    <script src="/assets/js/parallax.min.js"></script>
    <!-- Isotope JS -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- MMenu JS -->
    <script src="/assets/js/jquery.slicknav.min.js"></script>
    <!-- magnific Js -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Progress Bar -->
    <script src="/assets/js/jquery.lineProgressbar.js"></script>
    <!-- Countdown Js -->
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <!--Custom Js-->
    <script src="/assets/js/custom.js"></script>

</div>


</body>

</html>
