<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Theme Development</title>
    <!-- Favicon  -->
    <link rel="icon" type="image/x-icon" href="assets/images/favicon/favicon.ico">

    	<link rel="stylesheet" href="../css/main.css" th:href="@{css/main.css}" type="text/css"/>
    <!--Bootstrap-->
    <link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" type="text/css"/>
<!--    &lt;!&ndash;Fontawesome&ndash;&gt;-->
    <link rel="stylesheet" href="../css/all.min.css" th:href="@{css/all.min.css}" type="text/css"/>
<!--    &lt;!&ndash;Owl-carousel&ndash;&gt;-->
    <link rel="stylesheet" href="../css/owl.carousel.min.css" th:href="@{css/owl.carousel.min.css}" type="text/css"/>
<!--    &lt;!&ndash;Owl Carousel theme&ndash;&gt;-->
    <link rel="stylesheet" href="../css/owl.theme.default.min.css" th:href="@{css/owl.theme.default.min.css}" type="text/css"/>
<!--    &lt;!&ndash;Animate&ndash;&gt;-->
    <link rel="stylesheet" href="../css/animate.min.css" th:href="@{css/animate.min.css}" type="text/css"/>
<!--    &lt;!&ndash; magnific CSS &ndash;&gt;-->
    <link rel="stylesheet" href="../css/magnific-popup.css" th:href="@{css/magnific-popup.css}" type="text/css"/>
<!--    &lt;!&ndash; Mmenu CSS &ndash;&gt;-->
    <link rel="stylesheet" href="../css/slicknav.min.css" th:href="@{css/slicknav.min.css}" type="text/css"/>
<!--    &lt;!&ndash;Style&ndash;&gt;-->
    <link rel="stylesheet" href="../css/style.css" th:href="@{css/style.css}" type="text/css"/>
<!--    &lt;!&ndash; Responsive &ndash;&gt;-->
    <link rel="stylesheet" href="../css/responsive.css" th:href="@{css/responsive.css}" type="text/css"/>
</head>

<body>
    <!--Preloader area start-->
    <div id="preloader">
        <div class="pre-loader-icon"></div>
    </div>
    <!--Preloader area end-->
    <!--Header area start-->
    <header class="header-area-start">
        <!--Header top area start-->
        <div class="header-top-area-start">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12 col-sm-5">
                        <div class="header-top-left">
                            <a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-sign-in-alt"></i> login</a>
                            <a href="#" data-toggle="modal" data-target="#exampleModal1"><i class="far fa-user"></i> register</a>
                        </div>
                    </div>
                    <!--Header top left area end-->
                    <div class="col-md-6 col-12 col-sm-7">
                        <div class="header-top-right">
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-twitter-square"></i></a>
                            <a href="#"><i class="fab fa-youtube-square"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                            <a href="#"><i class="fab fa-pinterest-square"></i></a>
                            <a href="#"><i class="fab fa-google-plus-square"></i></a>
                            <a href="#"><i class="fab fa-dribbble-square"></i></a>
                            <a href="#"><i class="fab fa-vimeo-square"></i></a>
                        </div>
                    </div>
                    <!--Header top right area end-->
                </div>
            </div>
        </div>
        <!--Header top area end-->

        <!--Header navigation area start-->
        <div class="navigation-area-start shadow">
            <div class="container">
                <div class="row">
                    <!--Logo area start-->
                    <div class="col-md-3 col-5 col-sm-5">
                        <div class="logo-area">
                            <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <!--Logo area end-->
                    <div class="col-md-9 col-7 col-sm-7">
                        <nav class="main-menu-area">
                            <ul class="main-menu" id="mobile-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="service.html">services</a></li>
                                <li><a href="portfolio.html">portfolio</a></li>
                                <li><a href="#">blog <i class="fas fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li class="drop-list"><a href="#">BLog Page</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog-2-column.html">Blog 2 Column</a></li>
                                                <li><a href="blog-3-column.html">Blog 3 Column</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                        <li><a href="right-sidebar.html">Sidebar Right</a></li>
                                        <li><a href="single.html">Single Page</a></li>
                                        <li><a href="blank.html">Blank Page</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a>
                                </li>
                                <li><a href="#">Shortcode</a></li>
                                <li><a href="#">pages <i class="fas fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="404page.html">404 Page</a></li>
                                        <li><a href="500page.html">500 Page</a></li>
                                        <li><a href="blank.html">Blank Page</a></li>
                                        <li><a href="team.html">Team Page</a></li>
                                        <li><a href="team-details.html">Team-Details Page</a></li>
                                        <li><a href="faq.html">FAQ Page</a></li>
                                        <li><a href="comming-soon.html">Comming soon Page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--Menu area end-->
                </div>
            </div>
        </div>
        <!--Header navigation area end-->
    </header>
    <!--Header area end-->


    <!--Slider area start-->
    <section class="slider-area-start owl-carousel">
        <div class="single-slider-area-start" style="background: url('assets/images/main-slider/slider-1.jpg') no-repeat scroll center center / cover">
            <div class="single-slider-content">
                <h1>Make a good plan &amp; grow your business</h1>
                <p>Create just what you need for your Perfect Website. Choose from a various range of Elements &amp; select demo on your own Promize.</p>
                <a href="#" class="df-sq-btn active">contact us</a>
                <a href="#" class="df-sq-btn">about us</a>
            </div>
        </div>
        <!--Single slider area end-->
        <div class="single-slider-area-start" style="background: url('assets/images/main-slider/slider-2.jpg') no-repeat scroll center center / cover">
            <div class="single-slider-content">
                <h1>Find the best business solutions</h1>
                <p>Create just what you need for your Perfect Website. Choose from a various range of Elements &amp; select demo on your own Promize.</p>
                <a href="#" class="df-sq-btn active">contact us</a>
                <a href="#" class="df-sq-btn">about us</a>
            </div>
        </div>
        <!--Single slider area end-->
        <div class="single-slider-area-start" style="background: url('assets/images/main-slider/slider-3.jpg') no-repeat scroll center center / cover">
            <div class="single-slider-content">
                <h1>we provide business solutions</h1>
                <p>Create just what you need for your Perfect Website. Choose from a various range of Elements &amp; select demo on your own Promize.</p>
                <a href="#" class="df-sq-btn active">contact us</a>
                <a href="#" class="df-sq-btn">about us</a>
            </div>
        </div>
        <!--Single slider area end-->
        <div class="single-slider-area-start" style="background: url('assets/images/main-slider/slider-2.jpg') no-repeat scroll center center / cover">
            <div class="single-slider-content">
                <h1>to achive your dream</h1>
                <p>Create just what you need for your Perfect Website. Choose from a various range of Elements &amp; select demo on your own Promize.</p>
                <a href="#" class="df-sq-btn active">contact us</a>
                <a href="#" class="df-sq-btn">about us</a>
            </div>
        </div>
        <!--Single slider area end-->
    </section>
    <!--Slider area end-->

    <!--Choosen area start-->
    <section class="choosen-area-start space">
        <!--Project title area start-->
        <div class="project-title-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="project-title-content">
                            <h3>Why you choose me ?</h3>
                            <span><i class="fas fa-crosshairs"></i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi impedit sit, sint nulla magni quod deserunt magnam modi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Project title area end-->

        <!--Choosen main area start-->
        <div class="choosen-main-area-start">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-choosen-content box-pad shadow text-center">
                            <img src="assets/images/choosen/advisor.svg" alt="choosen-image">
                            <h4>Expert Advisor</h4>
                            <p>Promising development turmoil inclusive education transformative community.</p>
                        </div>
                    </div>
                    <!--Single choosen area end-->
                    <div class="col-md-4 mt-sm-5 mb-sm-5 mt-md-0 mb-md-0">
                        <div class="single-choosen-content box-pad shadow text-center">
                            <img src="assets/images/choosen/pc.svg" alt="choosen-image">
                            <h4>Market Research</h4>
                            <p>Promising development turmoil inclusive education transformative community.</p>
                        </div>
                    </div>
                    <!--Single choosen area end-->
                    <div class="col-md-4">
                        <div class="single-choosen-content box-pad shadow text-center">
                            <img src="assets/images/choosen/consultant.svg" alt="choosen-image">
                            <h4>Customer Insights</h4>
                            <p>Promising development turmoil inclusive education transformative community.</p>
                        </div>
                    </div>
                    <!--Single choosen area end-->
                </div>
            </div>
        </div>
        <!--Choosen main area end-->
    </section>
    <!--Choosen area end-->

    <!--About area start-->
    <section class="about-area-start df-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-left-img parallax-window">

                    </div>
                </div>
                <!--About-left area end-->
                <div class="col-md-6">
                    <div class="about-right-area-content">
                        <h3>LET'S MAKE GREAT THING TOGETHER !</h3>
                        <ul class="about-lists">
                            <li><i class="far fa-check-circle mr-3"></i> Consectetur adipisicing elit.</li>
                            <li><i class="far fa-check-circle mr-3"></i> Animi dolorum minus harum reiciendis.</li>
                            <li><i class="far fa-check-circle mr-3"></i> Voluptatibus quis sunt in repellendus.</li>
                            <li><i class="far fa-check-circle mr-3"></i> Pero quod eos, iusto blanditiis culpa.</li>
                            <li><i class="far fa-check-circle mr-3"></i> Dignissimos eum ipsam vitae?</li>
                        </ul>

                        <p class="mt-3">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                            making this the first true generator on the Internet.</p>
                        <a href="#" class="df-sq-btn active">read more</a>
                    </div>
                </div>
                <!--About right area end-->
            </div>
        </div>
    </section>
    <!--About area end-->


    <!--Service area start-->
    <section class="service-area-start space">
        <!--Project title area start-->
        <div class="project-title-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="project-title-content">
                            <h3>AMAZING SERVICES</h3>
                            <span><i class="fas fa-crosshairs"></i></span>
                            <p>Cross-agency coordination clean water rural, promising development turmoil inclusive education transformative community.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Project title area end-->

        <!--Service content area start-->
        <div class="service-area-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="single-choosen-content text-center single-service-content box-pad">
                            <i class="far fa-star"></i>
                            <h4>Expert Advisor</h4>
                            <p>Promising development turmoil inclusive education transformative community.</p>
                            <a href="#">read more</a>
                            <span class="far fa-star"></span>
                        </div>
                    </div>
                    <!--Single service area end-->
                    <div class="col-md-6 col-lg-4">
                        <div class="single-choosen-content text-center single-service-content box-pad">
                            <i class="fas fa-desktop"></i>
                            <h4>Expert Advisor</h4>
                            <p>Promising development turmoil inclusive education transformative community.</p>
                            <a href="#">read more</a>
                            <span class="fas fa-desktop"></span>
                        </div>
                    </div>
                    <!--Single service area end-->
                    <div class="col-md-6 col-lg-4">
                        <div class="single-choosen-content text-center single-service-content box-pad">
                            <i class="far fa-eye"></i>
                            <h4>Expert Advisor</h4>
                            <p>Promising development turmoil inclusive education transformative community.</p>
                            <a href="#">read more</a>
                            <span class="far fa-eye"></span>
                        </div>
                    </div>
                    <!--Single service area end-->
                    <div class="col-md-6 col-lg-4">
                        <div class="single-choosen-content text-center single-service-content box-pad">
                            <i class="far fa-heart"></i>
                            <h4>Expert Advisor</h4>
                            <p>Promising development turmoil inclusive education transformative community.</p>
                            <a href="#">read more</a>
                            <span class="far fa-heart"></span>
                        </div>
                    </div>
                    <!--Single service area end-->
                    <div class="col-md-6 col-lg-4">
                        <div class="single-choosen-content text-center single-service-content box-pad">
                            <i class="fas fa-umbrella"></i>
                            <h4>Expert Advisor</h4>
                            <p>Promising development turmoil inclusive education transformative community.</p>
                            <a href="#">read more</a>
                            <span class="fas fa-umbrella"></span>
                        </div>
                    </div>
                    <!--Single service area end-->
                    <div class="col-md-6 col-lg-4">
                        <div class="single-choosen-content text-center single-service-content box-pad">
                            <i class="fas fa-ethernet"></i>
                            <h4>Expert Advisor</h4>
                            <p>Promising development turmoil inclusive education transformative community.</p>
                            <a href="#">read more</a>
                            <span class="fas fa-ethernet"></span>
                        </div>
                    </div>
                    <!--Single service area end-->
                </div>
            </div>
        </div>
        <!--Service content area end-->
    </section>
    <!--Service area end-->


    <!--Promote area start-->
    <section class="promote-area-start space">
        <div class="container">
            <div class="row">
                <!--Promote content start-->
                <div class="col-md-8">
                    <div class="promote-left-content">
                        <h4>Let's Get Started !</h4>
                        <p>Paying attention to what our customers want and what they say is the most important value in Stylemix.</p>
                    </div>
                </div>
                <!--Promote content end-->
                <div class="col-md-4">
                    <div class="promote-right-btn">
                        <a href="#" class="df-sq-btn">buy now</a>
                        <a href="#" class="df-sq-btn active">contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Promote area end-->

    <!--Package area start-->
    <section class="package-area-start space">
        <!--Project title area start-->
        <div class="project-title-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="project-title-content">
                            <h3>OUR BUSINESS PRICING</h3>
                            <span><i class="fas fa-crosshairs"></i></span>
                            <p>Cross-agency coordination clean water rural, promising development turmoil inclusive education transformative community.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Project title area end-->

        <!--Package content area start-->
        <div class="package-content-area-start">
            <div class="container">
                <div class="row">
                    <!--Single Package start-->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-package-content text-center">
                            <div class="package-head">
                                <i class="far fa-lightbulb"></i>
                                <h4>Starter</h4>
                                <span>Start-up your Business</span>
                            </div>
                            <div class="package-price">
                                <p><strong>$10.00 /</strong> Month</p>
                            </div>
                            <div class="package-specification text-left">
                                <ul class="package-list">
                                    <li><i class="far fa-check-circle mr-2"></i> Full Access</li>
                                    <li><i class="far fa-check-circle mr-2"></i> Source Files</li>
                                    <li><i class="far fa-check-circle mr-2"></i> 100 user Accounts</li>
                                    <li><i class="far fa-check-circle mr-2"></i> 1 year licences</li>
                                    <li><i class="far fa-check-circle mr-2"></i> Phone & Email Support</li>
                                </ul>
                            </div>
                            <div class="package-btn">
                                <a href="#">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <!--Single Package end-->
                    <!--Single Package start-->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-package-content text-center">
                            <div class="package-head">
                                <i class="far fa-star"></i>
                                <h4>standerd</h4>
                                <span>Start-up your Business</span>
                            </div>
                            <div class="package-price">
                                <p><strong>$99.00 /</strong> Month</p>
                            </div>
                            <div class="package-specification text-left">
                                <ul class="package-list">
                                    <li><i class="far fa-check-circle mr-2"></i> Full Access</li>
                                    <li><i class="far fa-check-circle mr-2"></i> Source Files</li>
                                    <li><i class="far fa-check-circle mr-2"></i> 100 user Accounts</li>
                                    <li><i class="far fa-check-circle mr-2"></i> 1 year licences</li>
                                    <li><i class="far fa-check-circle mr-2"></i> Phone & Email Support</li>
                                </ul>
                            </div>
                            <div class="package-btn">
                                <a href="#">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <!--Single Package end-->
                    <!--Single Package start-->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-package-content package-active text-center ">
                            <div class="package-head">
                                <i class="fab fa-codepen"></i>
                                <h4>professional</h4>
                                <span>Start-up your Business</span>
                            </div>
                            <div class="package-price">
                                <p><strong>$199.00 /</strong> Month</p>
                            </div>
                            <div class="package-specification text-left">
                                <ul class="package-list">
                                    <li><i class="far fa-check-circle mr-2"></i> Full Access</li>
                                    <li><i class="far fa-check-circle mr-2"></i> Source Files</li>
                                    <li><i class="far fa-check-circle mr-2"></i> 100 user Accounts</li>
                                    <li><i class="far fa-check-circle mr-2"></i> 1 year licences</li>
                                    <li><i class="far fa-check-circle mr-2"></i> Phone & Email Support</li>
                                </ul>
                            </div>
                            <div class="package-btn">
                                <a href="#">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <!--Single Package end-->
                    <!--Single Package start-->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-package-content text-center">
                            <div class="package-head">
                                <i class="fab fa-connectdevelop"></i>
                                <h4>Premium</h4>
                                <span>Start-up your Business</span>
                            </div>
                            <div class="package-price">
                                <p><strong>$499.00 /</strong> Month</p>
                            </div>
                            <div class="package-specification text-left">
                                <ul class="package-list">
                                    <li><i class="far fa-check-circle mr-2"></i> Full Access</li>
                                    <li><i class="far fa-check-circle mr-2"></i> Source Files</li>
                                    <li><i class="far fa-check-circle mr-2"></i> 100 user Accounts</li>
                                    <li><i class="far fa-check-circle mr-2"></i> 1 year licences</li>
                                    <li><i class="far fa-check-circle mr-2"></i> Phone & Email Support</li>
                                </ul>
                            </div>
                            <div class="package-btn">
                                <a href="#">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <!--Single Package end-->
                </div>
            </div>
        </div>
        <!--Package content area end-->
    </section>
    <!--Package area end-->




    <!--Testimonial area start-->
    <section class="testimonial-area-start space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial-slider-active owl-carousel">
                        <div class="single-testimonial-content text-center">
                            <img src="assets/images/testimonial/01.jpg" alt="client-image" style="width:70px; height:70px" class="rounded-circle">
                            <p>Molestias quia repellat eum commodi labore ex deleniti provident nostrum earum sapiente, quisquam tenetur adipisci fugit autem.</p>
                            <ul class="review-list">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star-half-alt"></i></li>
                            </ul>
                            <h5>Mr. Jhonson</h5>
                            <span>C.E.O Agency</span>
                        </div>
                        <!--Single testimonial content end-->
                        <div class="single-testimonial-content text-center">
                            <img src="assets/images/testimonial/02.jpg" alt="client-image" style="width:70px; height:70px" class="rounded-circle">
                            <p>Molestias quia repellat eum commodi labore ex deleniti provident nostrum earum sapiente, quisquam tenetur adipisci fugit autem.</p>
                            <ul class="review-list">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star-half-alt"></i></li>
                            </ul>
                            <h5>Mr. Jhonson</h5>
                            <span>C.E.O Agency</span>
                        </div>
                        <!--Single testimonial content end-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonial area end-->

    <!--Team area start-->
    <section class="team-area-start space">
        <!--Project title area start-->
        <div class="project-title-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="project-title-content">
                            <h3>OUR TEAM MEMBER</h3>
                            <span><i class="fas fa-crosshairs"></i></span>
                            <p>Cross-agency coordination clean water rural, promising development turmoil inclusive education transformative community.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Project title area end-->

        <!--Team content area start-->
        <div class="team-content-area-start">
            <div class="container">
                <div class="row">
                    <!--Single team area start-->
                    <div class="col-md-6 col-lg-3 mb-5 mb-sm-5 mb-md-0">
                        <div class="single-team-area-end shadow text-center rounded">
                            <div class="team-member-image">
                                <img src="assets/images/team/01.jpg" alt="team-member">
                            </div>
                            <div class="team-member-biography">
                                <span>C.E.O</span>
                                <h4><a href="#">Mr. Maxwel</a></h4>
                                <p>Laudantium itaque tempora! Non laboriosam obcaecati.</p>

                                <div class="team-member-social-icon">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Single team area end-->
                    <!--Single team area start-->
                    <div class="col-md-6 col-lg-3 mb-5 mb-sm-5 mb-md-0">
                        <div class="single-team-area-end shadow text-center rounded">
                            <div class="team-member-image">
                                <img src="assets/images/team/02.jpg" alt="team-member">
                            </div>
                            <div class="team-member-biography">
                                <span>Drirector</span>
                                <h4><a href="#">Irma khtun</a></h4>
                                <p>Laudantium itaque tempora! Non laboriosam obcaecati.</p>

                                <div class="team-member-social-icon">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Single team area end-->
                    <!--Single team area start-->
                    <div class="col-md-6 col-lg-3 mb-5 mb-sm-5 mb-md-0">
                        <div class="single-team-area-end shadow text-center rounded">
                            <div class="team-member-image">
                                <img src="assets/images/team/03.jpg" alt="team-member">
                            </div>
                            <div class="team-member-biography">
                                <span>G.M.</span>
                                <h4><a href="#">Mr. Alex</a></h4>
                                <p>Laudantium itaque tempora! Non laboriosam obcaecati.</p>

                                <div class="team-member-social-icon">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Single team area end-->
                    <!--Single team area start-->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-team-area-end shadow text-center rounded">
                            <div class="team-member-image">
                                <img src="assets/images/team/04.jpg" alt="team-member">
                            </div>
                            <div class="team-member-biography">
                                <span>Co-Founder</span>
                                <h4><a href="#">Mr. Robin</a></h4>
                                <p>Laudantium itaque tempora! Non laboriosam obcaecati.</p>

                                <div class="team-member-social-icon">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Single team area end-->
                </div>
            </div>
        </div>
        <!--Team content area end-->
    </section>
    <!--Team area end-->


    <!--Blog area start-->
<!--    <section class="blog-area-start df-bg space">-->
<!--        &lt;!&ndash;Project title area start&ndash;&gt;-->
<!--        <div class="project-title-area text-center">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="project-title-content">-->
<!--                            <h3>LATEST NEWS</h3>-->
<!--                            <span><i class="fas fa-crosshairs"></i></span>-->
<!--                            <p>Cross-agency coordination clean water rural, promising development turmoil inclusive education transformative community.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Project title area end&ndash;&gt;-->

<!--        &lt;!&ndash;Blog area content start&ndash;&gt;-->
<!--        <div class="blog-area-content-start">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    &lt;!&ndash;Single blog content start&ndash;&gt;-->
<!--                    <div class="col-lg-4 col-md-6 mb-sm-5 mb-md-0">-->
<!--                        <div class="single-blog-content shadow rounded">-->
<!--                            <div class="blog-image">-->
<!--                                <a href="#"><img src="assets/images/blog/01.jpg" alt="blog-image"></a>-->
<!--                            </div>-->
<!--                            <div class="blog-content">-->
<!--                                <div class="blog-date">-->
<!--                                    <span>05</span>-->
<!--                                    <span>Sept</span>-->
<!--                                </div>-->
<!--                                <h4><a href="#">As stocks struggle, some strategists</a></h4>-->
<!--                                <p>Molestiae voluptates, soluta illo nostrum dolor ipsum vel repellendus at aut consequuntur.</p>-->
<!--                                <a href="#">Read More</a>-->
<!--                                <div class="blog-post-data">-->
<!--                                    <a href="#"><i class="fas fa-tag"></i> business</a>-->
<!--                                    <a href="#"><i class="fas fa-user"></i> Nobita</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Single blog content end&ndash;&gt;-->
<!--                    &lt;!&ndash;Single blog content start&ndash;&gt;-->
<!--                    <div class="col-lg-4 col-md-6 mb-sm-5 mb-md-0">-->
<!--                        <div class="single-blog-content shadow rounded">-->
<!--                            <div class="blog-image">-->
<!--                                <a href="#"><img src="assets/images/blog/02.jpg" alt="blog-image"></a>-->
<!--                            </div>-->
<!--                            <div class="blog-content">-->
<!--                                <div class="blog-date">-->
<!--                                    <span>05</span>-->
<!--                                    <span>Sept</span>-->
<!--                                </div>-->
<!--                                <h4><a href="#">As stocks struggle, some strategists</a></h4>-->
<!--                                <p>Molestiae voluptates, soluta illo nostrum dolor ipsum vel repellendus at aut consequuntur.</p>-->
<!--                                <a href="#">Read More</a>-->
<!--                                <div class="blog-post-data">-->
<!--                                    <a href="#"><i class="fas fa-tag"></i> business</a>-->
<!--                                    <a href="#"><i class="fas fa-user"></i> Nobita</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Single blog content end&ndash;&gt;-->
<!--                    &lt;!&ndash;Single blog content start&ndash;&gt;-->
<!--                    <div class="col-lg-4 col-md-6">-->
<!--                        <div class="single-blog-content shadow rounded">-->
<!--                            <div class="blog-image">-->
<!--                                <a href="#"><img src="assets/images/blog/03.jpg" alt="blog-image"></a>-->
<!--                            </div>-->
<!--                            <div class="blog-content">-->
<!--                                <div class="blog-date">-->
<!--                                    <span>05</span>-->
<!--                                    <span>Sept</span>-->
<!--                                </div>-->
<!--                                <h4><a href="#">As stocks struggle, some strategists</a></h4>-->
<!--                                <p>Molestiae voluptates, soluta illo nostrum dolor ipsum vel repellendus at aut consequuntur.</p>-->
<!--                                <a href="#">Read More</a>-->
<!--                                <div class="blog-post-data">-->
<!--                                    <a href="#"><i class="fas fa-tag"></i> business</a>-->
<!--                                    <a href="#"><i class="fas fa-user"></i> Nobita</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Single blog content end&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Blog area content end&ndash;&gt;-->
<!--    </section>-->
    <!--Blog area end-->

    <!--Client area start-->
    <div class="client-area-start space">
        <div class="container">
            <div class="row">
                <div class="client-slider-active owl-carousel">
                    <img src="assets/images/client/client-01.png" alt="client">
                    <img src="assets/images/client/client-02.png" alt="client">
                    <img src="assets/images/client/client-03.png" alt="client">
                    <img src="assets/images/client/client-04.png" alt="client">
                    <img src="assets/images/client/client-05.png" alt="client">
                    <img src="assets/images/client/client-06.png" alt="client">
                    <img src="assets/images/client/client-07.png" alt="client">
                    <img src="assets/images/client/client-08.png" alt="client">
                    <img src="assets/images/client/client-09.png" alt="client">
                </div>
            </div>
        </div>
    </div>
    <!--Client area end-->
    <!--Footer area start-->
    <footer class="footer-area-start">
        <!--Footer top area start-->
        <div class="footer-top-area-start">
            <div class="container">
                <div class="row">
                    <!--Single footer top start-->
                    <div class="col-md-3 col-6 col-sm-6 mb-sm-5 mb-md-0">
                        <div class="single-footer-top">
                            <i class="fas fa-atom mr-2"></i>
                            <span>Easy to Customize</span>
                        </div>
                    </div>
                    <!--Single footer top end-->
                    <!--Single footer top start-->
                    <div class="col-md-3 col-6 col-sm-6  mb-sm-5 mb-md-0">
                        <div class="single-footer-top">
                            <i class="fas fa-desktop mr-2"></i>
                            <span>Fully Responsive</span>
                        </div>
                    </div>
                    <!--Single footer top end-->
                    <!--Single footer top start-->
                    <div class="col-md-3 col-6 col-sm-6 mb-md-0">
                        <div class="single-footer-top">
                            <i class="far fa-envelope mr-2"></i>
                            <span>24/7 Online Supports</span>
                        </div>
                    </div>
                    <!--Single footer top end-->
                    <!--Single footer top start-->
                    <div class="col-md-3 col-6 col-sm-6 mb-md-0">
                        <div class="single-footer-top">
                            <i class="fas fa-cloud-download-alt mr-2"></i>
                            <span>Free Updates Available</span>
                        </div>
                    </div>
                    <!--Single footer top end-->
                </div>
            </div>
        </div>
        <!--Footer top area end-->

        <!--Footer content area start-->
        <div class="footer-content-area-start">
            <div class="container">
                <div class="row">
                    <!--Single footer widget start-->
                    <div class="col-md-3 mb-sm-5 mb-md-0">
                        <div class="single-footer-widget">
                            <div class="logo-area">
                                <a href="#"><span>bus</span>iness</a>
                            </div>
                            <p>Harum repellat quis expedita saepe soluta voluptates error. Repudiandae eum ipsa, corporis rerum necessitatibus?</p>
                            <div class="team-member-social-icon">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--Single footer widget end-->


                    <!--Single footer widget footer menu start-->
                    <div class="col-md-2 mb-sm-5 mb-md-0">
                        <div class="single-footer-widget">
                            <h5>Features</h5>
                            <ul class="footer-menu">
                                <li><a href="#">Home</a></li>
<!--                                <li><a href="#">About</a></li>-->
                                <li><a href="#">Portfolio</a></li>
<!--                                <li><a href="#">Help</a></li>-->
                                <li><a href="#">Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Single footer widget footer menu end-->

                    <!--Single footer widget footer menu start-->
                    <div class="col-md-4 mb-sm-5 mb-md-0">
                        <div class="single-footer-widget">
                            <h5>Recent News</h5>
                            <div class="media">
                                <i class="fab fa-twitter mr-3 fa-1x"></i>
                                <div class="media-body">
                                    <p>" Reprehenderit culpa aspernatur maiores natus impedit, veritatis cum ipsam ad illo assumenda earum non ut? Deleniti? "</p>
                                </div>
                            </div>
                            <div class="media">
                                <i class="fab fa-twitter mr-3 fa-1x"></i>
                                <div class="media-body">
                                    <p>" Vitae tenetur iure possimus facilis, similique soluta reiciendis voluptatibus tempore? Fugiat. "</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Single footer widget footer menu end-->

                    <!--Single footer widget footer menu start-->
                    <div class="col-md-3">
                        <div class="single-footer-widget">
                            <h5>Get In Touch</h5>
                            <ul class="footer-menu-touch">
                                <li><i class="fas fa-map-marker mr-2"></i> 27/1A Vangachura Road, Dhaka</li>
                                <li><i class="fas fa-envelope mr-2"></i> root@example.com</li>
                                <li><i class="fas fa-mobile mr-2"></i> +(012) 1234-5678</li>
                                <li><i class="fas fa-globe-asia mr-2"></i> www.domain.com</li>
                                <li><i class="fab fa-twitter mr-2"></i> www.socialmedia.com</li>
                            </ul>
                        </div>
                    </div>
                    <!--Single footer widget footer menu end-->
                </div>
            </div>
        </div>
        <!--Footer content area end-->

        <!--Footer bottom area start-->
        <div class="footer-bootom-area-start text-center">
            <p>&copy; 2020-15, All rights reserved, Developed <i class="fas fa-heart"></i> by <a href="#">PrantoPlanet</a></p>
            <a href="#" class="btm-to-top"><i class="fas fa-angle-up"></i></a>
        </div>
        <!--Footer bottom area end-->
    </footer>
    <!--Footer area end-->










    <!--Modal area start-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header  bg-primary text-light">
                    <h5 class="modal-title text-uppercase" id="exampleModalLabel">Login Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST">
                        <label for="email">Email :</label>
                        <input type="email" name="email" id="email" placeholder="Email" class="form-control mb-3">

                        <label for="password">Password :</label>
                        <input type="password" name="password" id="password" placeholder="*************" class="form-control">

                        <button type="submit" class=" mt-3 btn btn-primary text-uppercase text-light">Login</button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!--Modal area end-->



    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header  bg-primary text-light">
                    <h5 class="modal-title text-uppercase" id="exampleModalLabel1">Register Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST">
                        <label for="uname">Username :</label>
                        <input type="text" name="uname" id="uname" placeholder="Username" class="form-control mb-3">

                        <label for="email1">Email :</label>
                        <input type="email" name="email" id="email1" placeholder="Email" class="form-control mb-3">

                        <label for="password1">Password :</label>
                        <input type="password" name="password" id="password1" placeholder="*************" class="form-control">

                        <button type="submit" class=" mt-3 btn btn-primary text-uppercase text-light">Register</button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!--Modal area end-->


    <!--jQuery-->
    <script src="js/jquery-3.5.1.min.js"></script>
    <!--Bootstrap-->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoint js -->
    <script src="js/jquery.waypoints.js"></script>
    <!-- Counter Up -->
    <script src="js/jquery.counterup.min.js"></script>
    <!--Owl-Carousel-->
    <script src="js/owl.carousel.min.js"></script>
    <!--Parallax-->
    <script src="js/parallax.min.js"></script>
    <!-- Isotope JS -->
    <script src="js/isotope.pkgd.min.js"></script>
    <!-- MMenu JS -->
    <script src="js/jquery.slicknav.min.js"></script>
    <!-- magnific Js -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Progress Bar -->
    <script src="js/jquery.lineProgressbar.js"></script>
    <!-- Countdown Js -->
    <script src="js/jquery.countdown.min.js"></script>
    <!--Custom Js-->
    <script src="js/custom.js"></script>

</body>

</html>
