<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="pos-page-header" th:fragment="navbar">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bitsvalley - bala@nz</title>
        <!-- Favicon  -->
        <link rel="icon" type="image/x-icon" th:href="@{/assets/images/favicon/faviconn.ico}">
        <!--Bootstrap-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
        <!--Fontawesome-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/all.min.css}">
        <!--Owl-carousel-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
        <!--Owl Carousel theme-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/owl.theme.default.min.css}">
        <!--Animate-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
        <!-- magnific CSS -->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
        <!-- Mmenu CSS -->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/slicknav.min.css}">
        <!--Style-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/style.css}">
        <!-- Responsive -->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/responsive.css}">
    </head>
    <!-- <header class="app-header">
        <div class="container">
            <div class="inner-header">

            </div>
        </div>
    </header> -->
</div>
<div th:insert="header::navbar" class="sticky-header"></div>
<section class="main-page-container pos-page-container">
  <div class="pos-container">
    <div class="pos-products">
      <div class="pos-product-filter">
        <div class="product-search">
          <input type="text">
          <button class="search-btn" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}">Search</button>
        </div>
      </div>
      <div class="pos-category">
        <ul>
          <li th:style="${'background-color:' + session.runtimeSettings.themeColor2}" th:each="category: ${categories}"><a th:href="@{/showPosCategoryProducts/{id}(id=${category.id})}"><span th:text="${category.name}"></span></a></li>
        </ul>
      </div>
      <div class="pos-product-list">
        <div class="row row-space-14">
          <div class="col-md-3" th:each="produto : ${shopProducts}">
            <div class="pos-product-item" th:style="${'border-color:' + session.runtimeSettings.themeColor2}">
              <div class="pos-product-image">
                <a th:href="@{/addToCart/{id}(id=${produto.id})}">
                  <img src="https://media.istockphoto.com/id/1282672553/photo/glass-of-cold-cola-soft-drink-with-ice-on-wooden-background.jpg?b=1&s=170667a&w=0&k=20&c=MbKkpWJ_mG-grwt0DEHwwbBLcIKdEQdtiIk81rgnYHU=" />
                </a>
              </div>
              <div class="pos-product-desc">
                <h4 th:text="${produto.name}"></h4>
                <h2 th:style="${'color:' + session.runtimeSettings.themeColor}" th:text="${#numbers.formatDecimal(produto.unitPrice, 0, 'COMMA', 0, 'POINT')}"></h2>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="pos-checkout">
      <h2 th:style="${'background:' + session.runtimeSettings.themeColor2}">Cart</h2>
      <div class="pos-checkout-products">
        <div class="pos-checkout-item">
          <div class="pos-checkout-item-row" th:each="orderItem : ${session.shoppingCart?.orderItems}">
            <h3 th:text="${orderItem.name} +'  -  '+${#numbers.formatDecimal(orderItem.price, 0, 'COMMA', 0, 'POINT')}"></h3>
            <h3 th:text="' x '+${#numbers.formatDecimal(orderItem.qty, 0, 'COMMA', 0, 'POINT')}"></h3>
            <h3 th:text="${#numbers.formatDecimal(orderItem.qty*orderItem.price, 0, 'COMMA', 0, 'POINT')}"></h3>
              <a class="table-list-button-icon default-list-icon" th:href="@{/removeFromCart/{id}(id=${orderItem.shopProduct.id})}"> <i class='fas fa-trash-alt' style="color: red;"></i></a>
          </div>
            <div class="product-summary-total">
                <br/>
                <br/>
                <label>Total:</label>
                <strong><span th:text="${#numbers.formatDecimal(session.shoppingCart?.total, 0, 'COMMA', 0, 'POINT')}"></span></strong>
            </div>
        <!--          <div class="pos-checkout-item-row">-->
        <!--            <label th:text="${#numbers.formatDecimal(orderItem.price, 0, 'COMMA', 0, 'POINT')}"></label>-->
        <!--&lt;!&ndash;            <label>10 FRS</label>&ndash;&gt;-->
        <!--          </div>-->
        <!--          <div class="pos-checkout-item-row">-->
        <!--&lt;!&ndash;            <label>+ GST</label>&ndash;&gt;-->
        <!--&lt;!&ndash;            <label>12 FRS</label>&ndash;&gt;-->
        <!--          </div>-->
        </div>
      </div>
      <form th:action="@{/checkoutShoppingCart}" method="post">
          <div class="pos-checkout-action">
            <div class="apply-discount">
    <!--          <input type="text">-->
                <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}">APPLY</button>
            </div>
            <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}">CHECKOUT</button>
          </div>
      </form>
    </div>
  </div>
</section>
</html>
