<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bitsvalley - bala@nz</title>
        <!-- Favicon  -->
        <link rel="icon" type="image/x-icon" th:href="@{/assets/images/favicon/faviconn.ico}">
        <!--Bootstrap-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
        <!--Fontawesome-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/all.min.css}">
        <!--Owl-carousel-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
        <!--Owl Carousel theme-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/owl.theme.default.min.css}">
        <!--Animate-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
        <!-- magnific CSS -->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
        <!-- Mmenu CSS -->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/slicknav.min.css}">
        <!--Style-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/style.css}">
        <!-- Responsive -->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/responsive.css}">
    </head>
    <header class="app-header">
        <div class="container">
            <div class="inner-header">
              Header
            </div>
        </div>
    </header>
</div>
<section class="main-page-container">
    <div class="container">
      <div class="product-page-container">
        <div class="product-container">
          <div class="product-bar">
            <button class="product-nav"><i class="fas fa-bars"></i></button>
            <div class="product-search">
              <input type="text">
              <button class="search-btn" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}">Search</button>
            </div>
          </div>
          <div class="product-list">
            <div class="row row-space-10">
              <div class="col-md-3">
                <div class="product-item">
                  <div class="product-image">
                    <img src="https://www.incimages.com/uploaded_files/image/1920x1080/GettyImages-1158242033_411023.jpg" />
                  </div>
                  <div class="product-description">
                    <h4>Fellow Prismo French Black</h4>
                    <h3 th:style="${'color:' + session.runtimeSettings.themeColor}">30 FRS</h3>
                    <div class="product-action">
                      <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}">Add to Cart</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="product-item">
                  <div class="product-image">
                    <img src="https://www.incimages.com/uploaded_files/image/1920x1080/GettyImages-1158242033_411023.jpg" />
                  </div>
                  <div class="product-description">
                    <h4>Fellow Prismo French Black</h4>
                    <h3 th:style="${'color:' + session.runtimeSettings.themeColor}">30 FRS</h3>
                    <div class="product-action">
                      <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}">Add to Cart</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="product-item">
                  <div class="product-image">
                    <img src="https://www.incimages.com/uploaded_files/image/1920x1080/GettyImages-1158242033_411023.jpg" />
                  </div>
                  <div class="product-description">
                    <h4>Fellow Prismo French Black</h4>
                    <h3 th:style="${'color:' + session.runtimeSettings.themeColor}">30 FRS</h3>
                    <div class="product-action">
                      <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}">Add to Cart</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="product-item">
                  <div class="product-image">
                    <img src="https://www.incimages.com/uploaded_files/image/1920x1080/GettyImages-1158242033_411023.jpg" />
                  </div>
                  <div class="product-description">
                    <h4>Fellow Prismo French Black</h4>
                    <h3 th:style="${'color:' + session.runtimeSettings.themeColor}">30 FRS</h3>
                    <div class="product-action">
                      <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}">Add to Cart</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="product-item">
                  <div class="product-image">
                    <img src="https://www.incimages.com/uploaded_files/image/1920x1080/GettyImages-1158242033_411023.jpg" />
                  </div>
                  <div class="product-description">
                    <h4>Fellow Prismo French Black</h4>
                    <h3 th:style="${'color:' + session.runtimeSettings.themeColor}">30 FRS</h3>
                    <div class="product-action">
                      <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}">Add to Cart</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>        
    </div>
</section>
</html>
