<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header" >  </div>
<section class="main-page-container">
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">CREATE A NEW PRODUCT
                        </h2>
                        <span>Fill up form to create new product.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Project title area end-->
    <div class="container">
        <span class="alert alert-info" th:if="${shopProductInfo}" th:text="${shopProductInfo}"></span>
        <div class="radius-container branch-form-container">
            <form action="#" th:action="@{/registerShopProductForm}" method="post" th:object="${shopProduct}">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" name="name" th:field="*{name}" id="name"
                                   class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="active">Active:</label>
                            <select class="form-control" name="active" id="active">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="active">Online Active:</label>
                            <select class="form-control" name="online" id="online">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Unit Price:</label>
                            <input type="text" name="unitPrice" th:field="*{unitPrice}" id="unitPrice"
                                   placeholder="unitPrice:" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Bulk Price:</label>
                            <input type="text" name="bulkPrice" th:field="*{bulkPrice}" id="bulkPrice"
                                   placeholder="bulkPrice:" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Purchase Price:</label>
                            <input type="text" name="purchasePrice" th:field="*{purchasePrice}" id="purchasePrice"
                                   placeholder="purchasePrice:" class="form-control">
                        </div>
                    </div>
                </div>

                <br/>
                <br/>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="shortDescription">Short Product Description:</label>
                            <input type="text" name="shortDescription" th:field="*{shortDescription}" id="shortDescription" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="longDescription">Long Product Description:</label>
                            <input type="text" name="shortDescription" th:field="*{longDescription}" id="longDescription" class="form-control">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stockAmount">Quantity In Stock:</label>
                            <input type="text" name="contact" th:field="*{stockAmount}" id="stockAmount"
                                   class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="requisitionLevel">Requisition Level:</label>
                            <input type="text" name="requisitionLevel" th:field="*{requisitionLevel}" id="requisitionLevel"
                                   class="form-control" required>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="productCode">Product Code:</label>
                            <input type="text" name="productCode" th:field="*{productCode}" id="productCode"
                                   class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="barcode">Barcode:</label>
                            <input type="text" name="contact" th:field="*{barcode}" id="barcode"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="sku">SKU:</label>
                            <input type="text" name="sku" th:field="*{sku}" id="sku"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="expiry">Expiry:</label>
                            <input type="date" name="expiry" th:field="*{expiry}" id="expiry"
                                   class="form-control">
                        </div>
                    </div>
                </div>

                <br/>
                <br/>
                <br/>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Category:</label>
                            <select class="form-control" name="category" id="category"
                                    th:field="*{productCategory}">
                                <option value="">UNASSIGNED</option>
                                <option th:each="category: ${categories}"
                                        th:text="${category.name}"
                                        th:value="${category.id}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Warehouse:</label>
                            <select class="form-control" name="category" id="warehouse"
                                    th:field="*{warehouseLocation}">
                                <option value="">UNASSIGNED</option>
                                <option th:each="warehouse: ${warehouses}"
                                        th:text="${warehouse.name}"
                                        th:value="${warehouse.id}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
<!--                            <label>Logo:</label>-->
<!--                            <input type="text" name="imageUrl1" th:field="*{imageUrl1}" id="imageUrl1"-->
<!--                                   placeholder="Upload Image" class="form-control">-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Image 2:</label>
                            <input type="text" name="imageUrl2" th:field="*{imageUrl2}" id="imageUrl2"
                                   placeholder="Upload Image" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Image 3:</label>
                            <input type="text" name="imageUrl3" th:field="*{imageUrl3}" id="imageUrl3"
                                   placeholder="Upload Image" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Image 4:</label>
                            <input type="text" name="imageUrl4" th:field="*{imageUrl4}" id="imageUrl4"
                                   placeholder="Upload Image " class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">Create Product</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div th:insert="footer::navbar">  </div>
</html>