<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header"></div>
<div class="main-page-container">
  <div class="container">
<!--    <h4> AMOUNT RECEIVED/ AMOUNT OWED</h4>-->

<!--    <div class="ledger-search">-->
<!--      <form action="#" th:action="@{/filterReports}" method="post" th:object="${glSearchDTO}">-->
<!--        <div class="row row-space-10">-->
<!--          <div class="col-md-2">-->
<!--            <label>Ledger</label>-->
<!--            <select name="allLedgerAccount" class="form-control" th:field="*{allLedgerAccount}">-->
<!--              <option value="-1">-->
<!--                ALL-->
<!--              </option>-->
<!--              <option th:each="i : ${allLedgerAccount}" th:value="${i.id}">-->
<!--                <span th:text="${i.displayName}" />-->
<!--              </option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <div class="col-md-3">-->
<!--            <label>Start Date</label>-->
<!--            <input type="date" name="startDate" th:field="*{startDate}" id="startDate"-->
<!--                   placeholder="Start Date:" class="form-control" required>-->
<!--          </div>-->
<!--          <div class="col-md-3">-->
<!--            <label>End Date</label>-->
<!--            <input type="date" name="endDate" th:field="*{endDate}" id="endDate"-->
<!--                   placeholder="End Date:" class="form-control" required>-->
<!--          </div>-->
          <div class="col-md-3">
            <br>
<!--            <h2 th:style="${'font-size: 15px; color:' + session.runtimeSettings.themeColor2 + '; display: inline;'}" >-->

<!--              <a th:style="${'color:' + session.runtimeSettings.themeColor2}" href="#"-->
               <a th:href="@{/shortOfMinimum}">
                  ACCOUNTS THAT ARE DUE PAYMENT
                <i class="far fa-file-pdf"></i>
              </a>
<!--            </h2>-->
          </div>
<!--          <div class="col-auto">-->
<!--            <label>&nbsp;</label>-->
<!--            <button type="submit" class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}">SEARCH</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->


<!--    <div class="welcome-page-container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-12">-->
<!--          <canvas id="myChart"></canvas>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:inline="javascript">
    // const labels = [
    //   'January',
    //   'February',
    //   'March',
    //   'April',
    //   'May',
    //   'June',
    //   'July'
    // ];

    // const data2 = [
    //     {
    //         "customerId":2170,
    //         "customerName":"customer01 Bennet",
    //         "reportDTOs":[
    //             {
    //                 "amountDue":20000.0,
    //                 "amountPaid":181000.0,
    //                 "description":"10016000001010000000810 - BUSY"
    //             },
    //             {
    //                 "amountDue":25000.0,
    //                 "amountPaid":15000.0,
    //                 "description":"10017000001010000000810 - KIDS CODING"
    //             }
    //         ]
    //     },
    //     {
    //         "customerId":2908,
    //         "customerName":"customer112 Bennet",
    //         "reportDTOs":[
    //             {
    //                 "amountDue":40000.0,
    //                 "amountPaid":281000.0,
    //                 "description":"10016000001010000000810 - BUSY"
    //             },
    //             {
    //                 "amountDue":40000.0,
    //                 "amountPaid":10000.0,
    //                 "description":"10017000001010000000810 - KIDS CODING"
    //             }
    //         ]
    //     }
    // ]

    // const data = {
    //     labels: labels,
    //     datasets: [{
    //         label: labels,
    //         data: [65, 59, 80, 81, 56, 55, 40],
    //         backgroundColor: [
    //         'rgba(255, 99, 132, 0.2)',
    //         'rgba(255, 159, 64, 0.2)',
    //         'rgba(255, 205, 86, 0.2)',
    //         'rgba(75, 192, 192, 0.2)',
    //         'rgba(54, 162, 235, 0.2)',
    //         'rgba(153, 102, 255, 0.2)',
    //         'rgba(201, 203, 207, 0.2)'
    //         ],
    //         borderColor: [
    //         'rgb(255, 99, 132)',
    //         'rgb(255, 159, 64)',
    //         'rgb(255, 205, 86)',
    //         'rgb(75, 192, 192)',
    //         'rgb(54, 162, 235)',
    //         'rgb(153, 102, 255)',
    //         'rgb(201, 203, 207)'
    //         ],
    //         borderWidth: 1
    //     }]
    // };

    const data = {
        labels: [(${descriptionValues})]
        datasets: [
            {
                label: [(${sumTotalPaid})]
                backgroundColor: [
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                ],
                borderColor: [
                'rgb(255, 159, 64)',
                'rgb(255, 159, 64)'
                ],
                borderWidth: 1,
                data: [(${paidValues})]
            },
            {
                label: [(${sumTotalDue})]
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 99, 132)'
                ],
                borderWidth: 1,
                data: [(${dueValues})]
            }
        ]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
  </script>
<div th:insert="blog::navbar"></div>
<div th:insert="footer::navbar"></div>

</html>
