<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header"></div>


<section class="main-page-container">
    <div class="project-title-area text-center">
        <div th:insert="summary::navbar"></div>
        <div class="container">
            <div class="account-diposit-container current-account-section">
                <div class="info-form">
                    <div class="account-diposit-info">
                        <div class="diposit-info-cell total-info-cell">
                            <label>Balance</label>
                            <span class="account-balance-title"
                                    th:style="${'color:' + session.runtimeSettings.themeColor}"
                                    th:text="${savingAccountTransaction.savingAccount.accountBalance}"></span>
                        </div>
                        <div class="diposit-info-cell">
                            <label>Account Type</label>
                            <span th:text="${savingAccountTransaction.savingAccount.accountType.displayName}"></span>
                        </div>
                        <div class="diposit-info-cell">
                            <label>Account Number</label>
                            <a th:style="${'color:' + session.runtimeSettings.themeColor2}" href="#"
                            th:href="@{/showCustomer/{userid}(userid=${savingAccountTransaction.savingAccount.user.id})}">
                                <span th:text="${#strings.substring(savingAccountTransaction.savingAccount.accountNumber,0,5)} + ' ' +${#strings.substring(savingAccountTransaction.savingAccount.accountNumber,5,10)} + ' ' +${#strings.substring(savingAccountTransaction.savingAccount.accountNumber,10,21)} + ' ' +${#strings.substring(savingAccountTransaction.savingAccount.accountNumber,21,23)}"/>
                            </a>
                        </div>
                        <div class="diposit-info-cell">
                            <label>Member Since</label>
                            <span th:text="${#dates.format(savingAccountTransaction.savingAccount.user.created, 'dd-MMM-yyyy HH:mm')}"/>
                        </div> 
                        <div class="diposit-info-cell">
                            <label>Min. Balance</label>
                            <span
                                    th:text="${#numbers.formatDecimal(savingAccountTransaction.savingAccount.accountMinBalance, 0, 'COMMA', 0, 'POINT')}"></span>
                        </div>
                        <div class="diposit-info-cell">
                            <label>Notes</label>
                            <span th:text="${savingAccountTransaction.savingAccount.notes}"></span>
                        </div>
                    </div>
                    <div class="account-diposit-form">

                        <span th:if="${savingAccountTransaction.id} > 0">

                                <a th:style="${'color:' + session.runtimeSettings.themeColor}" href="#"
                                th:href="@{/createSavingAccountReceiptPdf/{id}(id=${savingAccountTransaction.id})}">
                                    <i class="far fa-file-pdf"></i>
                                    Print This Receipt
                                </a>
                        </span>

                        <div class="error" th:text="${billSelectionError}"/>



                        <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER'')')}">
                            <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">MAKE A <span
                                    th:text="${session.runtimeSettings.savingAccount}"/> TRANSACTION</h2>

                            <form action="#" th:action="@{/registerSavingAccountTransactionCCForm}" method="post"
                                th:object="${savingAccountTransaction}">

                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="card-logo-image">
                                            <img width="200px" th:src="@{/assets/images/visaLogo.png}"/>
                                        </span>
                                    </div>
                                    <div class="col-md-8 payment-screen-fields">
                                        <label>Enter Amount:</label> e.g 350
                                        <div class="row">
                                            <div class="col-md-4 payment-screen-fields">
                                                <input class="form-control amount-field" placeholder="Enter Amount" min="1"
                                                type="text"
                                                th:field="*{savingAmount}"
                                                value="${savingAccountTransaction.savingAmount}"/>
                                            </div>
                                            <div class="col send-amount-btn">
                                                <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">NEXT ---> Confirm Amount</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" th:value="${savingAccountTransaction.savingAccount.id}"
                                    th:attr="name='savingAccountId'"/>
                                
                            </form>
                        </div>

                        <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CASHIER'')')}">

                            <font size="6" color="gray"><span th:text="${billSelectionInfo}"/></font>
                            <span th:text="${error}"/>
                            <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">MAKE A <span
                                    th:text="${session.runtimeSettings.savingAccount}"/> TRANSACTION</h2>
                            <form action="#" th:action="@{/registerSavingAccountTransactionForm}" method="post"
                                th:object="${savingAccountTransaction}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Transaction Type:</label>
                                            <select class="form-control" name="deposit_withdrawal">
                                                <option value="">Select A Transaction Type</option>
                                                <option value="DEPOSIT">DEPOSIT</option>
                                                <option value="WITHDRAWAL">WITHDRAWAL</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Transaction Mode:</label>
                                            <select class="form-control" name="modeOfPayment" id="modeOfPayment">
                                                <option value="CASH">CASH</option>
                                                <option disabled value="MOMO">MOMO</option>
                                                <option disabled value="ORANGE MONEY">ORANGE MONEY</option>
                                                <option value="PAYPAL">PAYPAL</option>
                                                <option value="TRANSFER">TRANSFER</option>
                                                <option value="RECEIPT">RECEIPT</option>
                                                <option disabled value="OTHER">OTHER</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Enter Amount <span
                                                    th:text="${#numbers.formatDecimal(savingAccountTransaction.savingAccount.minimumPayment, 0, 'COMMA', 0, 'POINT')}"/>
                                                Minimum:</label>
                                            <input class="form-control amount-field" min="1" size="6" placeholder="Enter Amount"
                                                type="number"
                                                th:field="*{savingAmount}"
                                                value="${savingAccountTransaction.savingAmount}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Amount in Letters:</label>
                                            <textarea class="form-control"
                                                    id="savingAmountInLetters" rows="1" cols="70"
                                                    th:field="*{savingAmountInLetters}" maxlength="255">
                                        </textarea>
                                        </div>
                                    </div>
                                </div>

                                <div th:if="${session.runtimeSettings.billSelectionEnabled}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="bill-section-title"
                                            th:style="${'color:' + session.runtimeSettings.themeColor2}">BILL SELECTION:</h4>
                                        <div class="bill-selection-row">
                                            <div class="bill-selection-col">
                                                <div class="form-group">
                                                    <label>10 000:</label>
                                                    <input class="form-control" name="tenThousand" th:field="*{tenThousand}"
                                                        type="number" min="0" max="999" maxlength="4"
                                                        value="${savingAccountTransaction.tenThousand}" size="4"/>
                                                </div>
                                            </div>
                                            <div class="bill-selection-col">
                                                <div class="form-group">
                                                    <label>5 000:</label>
                                                    <input class="form-control" name="fiveThousand" th:field="*{fiveThousand}"
                                                        type="number" min="0" max="999" maxlength="4"
                                                        size="4"/>
                                                </div>
                                            </div>
                                            <div class="bill-selection-col">
                                                <div class="form-group">
                                                    <label>2 000:</label>
                                                    <input class="form-control" name="twoThousand" th:field="*{twoThousand}"
                                                        type="number" min="0" max="999" maxlength="4"
                                                        size="4"/>
                                                </div>
                                            </div>
                                            <div class="bill-selection-col">
                                                <div class="form-group">
                                                    <label>1 000:</label>
                                                    <input class="form-control" name="oneThousand" th:field="*{oneThousand}"
                                                        type="number" min="0" max="999" maxlength="4"
                                                        size="4"/>
                                                </div>
                                            </div>
                                            <div class="bill-selection-col">
                                                <div class="form-group">
                                                    <label>500:</label>
                                                    <input class="form-control" name="fiveHundred" th:field="*{fiveHundred}"
                                                        type="number" min="0" max="999" maxlength="4"
                                                        size="4"/>
                                                </div>
                                            </div>
                                            <div class="bill-selection-col">
                                                <div class="form-group">
                                                    <label>100:</label>
                                                    <input class="form-control" name="oneHundred" th:field="*{oneHundred}"
                                                        type="number" min="0" max="999" maxlength="4"
                                                        size="4"/>
                                                </div>
                                            </div>
                                            <div class="bill-selection-col">
                                                <div class="form-group">
                                                    <label>50:</label>
                                                    <input class="form-control" name="fifty" th:field="*{fifty}" type="number"
                                                        min="0" max="999" maxlength="4" size="4"/>
                                                </div>
                                            </div>
                                            <div class="bill-selection-col">
                                                <div class="form-group">
                                                    <label>25:</label>
                                                    <input class="form-control" name="twentyFive" th:field="*{twentyFive}"
                                                        type="number" min="0" max="999" maxlength="4"
                                                        size="4"/>
                                                </div>
                                            </div>
                                            <div class="bill-selection-col">
                                                <div class="form-group">
                                                    <label>10:</label>
                                                    <input class="form-control" name="ten" th:field="*{ten}" type="number"
                                                        min="0" max="999" maxlength="4"
                                                        size="4"/>
                                                </div>
                                            </div>
                                            <div class="bill-selection-col">
                                                <div class="form-group">
                                                    <label>5:</label>
                                                    <input class="form-control" name="five" th:field="*{five}" type="number"
                                                        min="0" max="999" maxlength="4"
                                                        size="4"/>
                                                </div>
                                            </div>
                                            <div class="bill-selection-col">
                                                <div class="form-group">
                                                    <label>1:</label>
                                                    <input class="form-control" name="one" th:field="*{one}" type="number"
                                                        min="0" max="999" maxlength="4"
                                                        size="4"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="width: 100%;">&nbsp;</label>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" th:field="*{accountOwner}" type="checkbox"
                                                    id="accountOwner" name="accountOwner" value="true"
                                                    checked>
                                                <label class="form-check-label" for="accountOwner">Account Owner</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Representative:</label>
                                            <input class="form-control" th:field="*{representative}" type="text"
                                                id="representative" name="representative"/>
                                            <input type="hidden" th:value="${savingAccountTransaction.savingAccount.id}"
                                                th:attr="name='savingAccountId'"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Notes:</label>
                                            <textarea class="form-control" placeholder="Enter Notes ..." id="notes" rows="2"
                                                    cols="70" th:field="*{notes}"
                                                    maxlength="255"></textarea>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">SUBMIT TRANSACTION</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="account-diposit-history">
                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_TRANSACTIONS_PRINT'')')}" style="display: inline-block">
                        <h2 th:style="${'color:' + session.runtimeSettings.themeColor2 + '; max-width: 60%; display: inline;'}"><span
                                th:text="${savingAccountTransaction.savingAccount.accountType.displayName}"/> PROCESSED
                            <a th:style="${'color:' + session.runtimeSettings.themeColor}" href="#"
                               th:href="@{/statementPDF/{id}(id=${savingAccountTransaction.savingAccount.id})}">
                                <i class="far fa-file-pdf"></i>
                            </a>
                        </h2>
                    </div>


                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_TRANSACTIONS_PRINT'')')}" class="ledger-search" style="width: 39%; display: inline; float: right;">
                        <form action="#" th:action="@{/statementPDFInterval/{id}(id=${savingAccountTransaction.savingAccount.id})}" method="post" th:object="${glSearchDTO}">
                            <div class="row row-space-10" style="position: relative;">
                                <div class="col-md-4">
                                    <input type="date" name="startDate" th:field="*{startDate}" id="startDate"
                                           placeholder="Start Date:" class="form-control" style="width: 100%;" required>
                                </div>
                                <div class="col-md-4">
                                    <input type="date" name="endDate" th:field="*{endDate}" id="endDate"
                                           placeholder="End Date:" class="form-control" style="width: 100%;" required>
                                </div>
                                <div class="col-auto" style="position: absolute; bottom: 0px; right: 0px;" >
                                    <label>&nbsp;</label>
                                    <button type="submit" class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}">FILTER</button>
                                </div>
                            </div>
                        </form>
                    </div>


                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_ACCOUNT_BALANCES'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER'')')}">
                        <table>
                            <thead>
                            <tr>
                                <th class="hide-mobile">Payment Date</th>
                                <th class="hide-mobile">MOP</th>
                                <th class="hide-mobile">Reference</th>
                                <th class="hide-mobile">Agent</th>
                                <th class="hide-mobile">Owner</th>
                                <th>Notes</th>
                                <th class="hide-mobile text-right">Debit</th>
                                <th class="hide-mobile text-right">Credit</th>
                                <th class="text-right">
                                    <span class="default-list-bold current-account-table-total"
                                  th:style="${'color:' + session.runtimeSettings.themeColor}"
                                  th:text="${savingBilanzList.totalSaving}"></span>
                                </th>
                                <th class="hide-mobile">Representative</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="bilanz : ${savingBilanzList.savingBilanzList}">
                                <td class="hide-mobile" th:text="${bilanz.createdDate}"></td>
                                <td class="hide-mobile" th:text="${bilanz.modeOfPayment}"></td>
                                <td class="hide-mobile" th:text="${bilanz.reference}"></td>
                                <td class="hide-mobile" th:text="${bilanz.agent}"></td>
                                <td class="hide-mobile" th:text="${bilanz.accountOwner}"></td>
                                <td  class="mobile-table-col" >
                                    <div class="show-mobile full-width">
                                        <span class="default-list-label" th:text="${bilanz.createdDate}" /><br />
                                    </div>
                                    <strong class="show-mobile full-width"><span th:text="${bilanz.modeOfPayment}"/><br/></strong>
                                    <span th:text="${bilanz.notes}"/>
                                </td>
                                <td class="hide-mobile text-right">
                                    <span th:if="${bilanz.savingAmount} < 0"
                                          th:text="${#numbers.formatDecimal(bilanz.savingAmount*-1, 0, 'COMMA', 0, 'POINT')}"/>
                                </td>
                                <td class="hide-mobile text-right"><span th:if="${bilanz.savingAmount} > 0"
                                          th:text="${#numbers.formatDecimal(bilanz.savingAmount, 0, 'COMMA', 0, 'POINT')}"/>
                                </td>
                                <td class="text-right" >
                                    <div class="show-mobile" th:if="${#authorization.expression('hasAnyAuthority(''ROLE_ACCOUNT_BALANCES'')')}  OR ${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER'')')}">
                                        <span th:text="${bilanz.currentBalance}"/> <br />
                                    </div>
                                    <div class="current-account-table-total-row">
                                        <span th:text="${bilanz.currentBalance}"/>
                                    </div>
                                </td>
                                <td  class="hide-mobile" th:text="${bilanz.representative}"></td>
                                <td class="hide-mobile" >
                                    <a th:style="${'color:' + session.runtimeSettings.themeColor}" href="#"
                                       th:href="@{/createSavingAccountReceiptPdf/{id}(id=${bilanz.id})}">
                                        <i class="far fa-file-pdf"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div th:insert="footer::navbar"></div>

</body>

</html>