<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header"></div>


<div class="page-container">
    <div class="container">
        <form class="form-bootstrap" action="#" th:action="@{/registerShareAccountForm}" method="post"
              th:object="${shareAccount}">
            <span th:text="${ShareAccountInfo}"/>
            <div class="error" th:text="${error}"/>
            <div class="form-sections">
                <h3 th:style="${'color:' + session.runtimeSettings.themeColor2}">CREATE A <span
                        th:text="${session.runtimeSettings.shareAccount}"/></h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="names">Account Owner:</label>
                            <span id="names" class="form-field-value"
                                  th:text="${session.customerInUse.gender +' '+session.customerInUse.firstName +' '+session.customerInUse.lastName }"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Choose a Share:</label>
                            <select class="form-control" name="productCode" id="productCode">
                                <option value="30">Ordinary Share - <span
                                        th:text="${#numbers.formatDecimal(session.runtimeSettings.unitSharePrice, 0, 'COMMA', 0, 'POINT')}"/>
                                </option>
                                <div th:unless="${#strings.isEmpty(session.runtimeSettings.unitPreferenceSharePrice)}">
                                    <option value="31">Preference Share - <span
                                            th:text="${#numbers.formatDecimal(session.runtimeSettings.unitPreferenceSharePrice, 0, 'COMMA', 0, 'POINT')}"/>
                                    </option>
                                </div>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
<!--                        <div class="form-group">-->
<!--                            <label for="unitPrice">Share Price(s):</label>-->
<!--                            Ordinary: <span class="form-field-value" id="unitPrice"-->
<!--                                            th:text="${#numbers.formatDecimal(session.runtimeSettings.unitSharePrice, 0, 'COMMA', 0, 'POINT')}"/>-->
<!--                            <div th:unless="${#strings.isEmpty(session.runtimeSettings.unitPreferenceSharePrice)}">-->
<!--                                Preference: <span class="form-field-value" id="unitPreferenceSharePrice"-->
<!--                                                  th:text="${#numbers.formatDecimal(session.runtimeSettings.unitPreferenceSharePrice, 0, 'COMMA', 0, 'POINT')}"/>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quantity:</label>
                                <input class="form-control" type="text" name="quantity" th:field="*{quantity}"
                                       id="quantity"
                                       placeholder="quantity" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="notes">Notes:</label>
                                <textarea class="form-control" id="notes" rows="2" cols="70"
                                          th:field="*{notes}">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input class="selectAmount" type="text" name="unitSharePrice" hidden
                                   value th:field="*{unitSharePrice}" id="unitSharePrice"
                                   placeholder="unitSharePrice"/>
                            <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">Next - Share Application</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 

<section class="main-page-container">

    <div class="contact-from-area">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <font size="6" color="gray"><span th:text="${ShareAccountInfo}"/> </font>
                    <font color="blue"><b>
                        <div class="error" th:text="${error}"/>
                    </b></font>
                    <form action="#" th:action="@{/registerShareAccountForm}" method="post" th:object="${shareAccount}">

                        <table class="center" width="100%" border="0">
                            <tr>
                                <td align="center">
                                    <div class="project-title-content">
                                        <h4>CREATE A <span th:text="${session.runtimeSettings.shareAccount}"/></h4>
                                        <span><i class="fas fa-crosshairs"></i></span>
                                    </div>

                                    <font size="2px"> Account Owner</font> <br/>
                                    <font color="gray" size="4">
                                        <span style th:text="${session.customerInUse.gender +' '+session.customerInUse.firstName +' '+session.customerInUse.lastName }"/>
                                    </font>
                                    <br/><br/>

                                </td>
                            </tr>

                            <tr>
                                <td align="center">
                                    <br/>
                                    <div class="col-md-12">
                                        <label for="productCode">Choose a Share</label><br/>
                                        <select class="selectNormal" name="productCode" id="productCode">
                                            <option value="30">Ordinary Share</option>
                                        </select>
                                        <br/>
                                        <br/>
                                        <label> Unit Price</label>
                                        <font size="4">
                                            <span class="selectAmount" th:text="${#numbers.formatDecimal(shareAccount.unitSharePrice, 0, 'COMMA', 0, 'POINT')}"/>
                                        </font>

                                        <br/>
                                        <label>Quantity</label>
                                        <input class="selectSmall" type="text" name="quantity" th:field="*{quantity}"
                                               id="quantity"
                                               placeholder="quantity" required>
                                        <br/>
                                        <br/>
                                        <label> Notes:</label>
                                        <br/>
                                        <textarea class="selectNormal" id="notes" rows="2" cols="70"
                                                  th:field="*{notes}">
                                </textarea>

                                        <br/>
                                        <button type="submit" class="btn btn-success">
                                            NEXT - SHARE APPLICATION
                                        </button>

                                    </div>

                                    <input class="selectAmount" type="text" name="unitSharePrice" hidden
                                           value th:field="*{unitSharePrice}" id="unitSharePrice"
                                           placeholder="unitSharePrice"/>
                                    <br/>

                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div th:insert="footer::navbar"></div>
</html>