<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar" class="sticky-header" ></div>
<br/>
<br/>

<div class="container">
    <!-- Contact form area start -->
    <section class="main-page-container">
        <form action="#" th:action="@{/transferFromCurrentToLoanAccountsFormReview}" method="post" th:object="${transferBilanz}">
            <div th:insert="summary::navbar"></div>
            <table class="center" width="100%" border="0">
                <tr>
                    <td align="center">
                        <div class="project-title-content">
                            <h4>TRANSFER FROM CURRENT TO LOAN ACCOUNT</h4>
                            <span><i class="fas fa-crosshairs"></i></span>
                        </div>
<!--                        <font size="4">Account Owner</font><br/>-->
<!--                        <font color="gray" size="4">-->
<!--                            <span style th:text="${session.customerInUse.gender +' '+session.customerInUse.firstName +' '+session.customerInUse.lastName }"/>-->
<!--                        </font>-->
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">

                        <label> <b>From Account:</b></label><br/>
                        <select class="selectNormal" th:field="*{transferFromAccount}">
                            <option th:each="i : ${session.customerInUse.currentAccount}"
                                    th:value="${i.accountNumber}"
                                    th:text="'Account No: '+${i.accountNumber}+' Balance: '+ ${#numbers.formatDecimal(i.accountBalance, 0, 'COMMA', 0, 'POINT')}">
                            </option>
                        </select>
                        <br/>
                        <br/>
                        <div class="error" th:text="${billSelectionError}"/><br/>
                        <font size="4"> <div class="error" th:text="${error}"/> </font>
                        <label> <b>To Account:</b></label><br/>
                        <select class="selectNormal" th:field="*{transferToAccount}">
                            <option th:each="i : ${session.customerInUse.loanAccount}"
                                    th:value="${i.accountNumber}"
                                    th:text="${i.accountType.name}+ ' Balance:'+ ${#numbers.formatDecimal(i.currentLoanAmount, 0, 'COMMA', 0, 'POINT')} + ' Initial Loan Amount: '+ ${#numbers.formatDecimal(i.loanAmount, 0, 'COMMA', 0, 'POINT')}">
                            </option>
                        </select>
                        <br/>
                        <br/>
                        <label> <b>Enter Amount:</b></label><br/>
                        <input class="selectAmount" size="6" name="transferAmount" type="number" th:field="*{transferAmount}"/>
                        <input type="hidden"  id="transferType" th:field="*{transferType}" value="${transferType}">
                        <br/>
                        <br/>
                        <textarea class="selectNormal" placeholder="Notes here ...." id="notes" rows="2" cols="70" th:field="*{notes}">
                        </textarea>
                        <br/>
                        <br/>
                        <button type="submit" class="btn btn-success">
                            NEXT - Review Transfer
                        </button>
                        <br/>
                        <br/>
                    </td>
                </tr>
            </table>
        </form>
        <br/><br/><br/>

    </section>
</div>
<div th:insert="footer::navbar"></div>
</html>
