<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar" class="sticky-header" ></div>
<br/>
<br/>
<br/>
<div th:insert="summary::navbar"></div>

<div class="container">
    <!-- Contact form area start -->
<!--    <section class="main-page-container">-->

        <form action="#" th:action="@{/transferFromDebitToDebitFormReview}" method="post" th:object="${transferBilanz}">
            <table class="center" width="100%" border="0">
                <tr>
                    <td align="center">
<!--                        <div class="project-title-content">-->
                            <h3>TRANSFER BETWEEN SAVING ACCOUNTS</h3>
<!--                            <span><i class="fas fa-crosshairs"></i></span>-->
<!--                        </div>-->
<!--                        <font size="2">Account Owner</font><br/>-->
<!--                        <font color="gray" size="4">-->
<!--                            <span style th:text="${session.customerInUse.gender +' '+session.customerInUse.firstName +' '+session.customerInUse.lastName }"/>-->
<!--                        </font>-->
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">

                        <br/>
                        <label> From Account:</label><br/>
                        <select class="selectLarge50" th:field="*{transferFromAccount}">
                            <option th:each="i : ${session.customerInUse.savingAccount}"
                                    th:value="${i.accountNumber}"
                                    th:text="${i.accountType.name} + ' Balance:'+ ${#numbers.formatDecimal(i.accountBalance, 0, 'COMMA', 0, 'POINT')} + ' MinimumBalance: ' + ${#numbers.formatDecimal(i.accountMinBalance, 0, 'COMMA', 0, 'POINT')}">
                            </option>
                        </select>
                        <br/>
                        <font size="6"> <div class="error" th:text="${invalidToAccount}"/> </font>
                        <br/>
                        <label> To Account:</label><br/>
                        <input class="selectNormal125" type="number" size="12" th:field="*{transferToAccount}">

<!--                        <select class="selectLarge50" th:field="*{transferToAccount}">-->
<!--                            <option th:each="i : ${session.customerInUse.savingAccount}"-->
<!--                                    th:value="${i.accountNumber}"-->
<!--                                    th:text="${i.accountType.name} + ' Balance:'+ ${#numbers.formatDecimal(i.accountBalance, 0, 'COMMA', 0, 'POINT')} + ' MinimumBalance: ' + ${#numbers.formatDecimal(i.accountMinBalance, 0, 'COMMA', 0, 'POINT')}">-->
<!--                            </option>-->
<!--                        </select>-->

                        <br/>
                        <br/>
                        <label> <b>Enter Amount:</b></label><br/>
                        <input class="selectAmount" name="transferAmount" type="number" value="${transferAmount}" />
                        <input type="hidden"  id="transferType" th:field="*{transferType}" value="${transferType}">
                        <br/>
                        <br/>
                        <textarea class="selectNormal" placeholder="Notes here ..." id="loanNotes" rows="3" cols="70" th:field="*{notes}">
                        </textarea>

                        <br/>
                        <button type="submit" class="btn btn-success">
                            Next - Review Transfer
                        </button>
                        <br/>
                        <br/>

                    </td>
                </tr>
            </table>
        </form>
<!--    </section>-->
</div>
<div th:insert="footer::navbar"></div>
</html>
