<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar" class="sticky-header" ></div>
<br/>
<br/>
<br/>
<div th:insert="summary::navbar"></div>
<div class="container">
<!--    <section class="main-page-container">-->

        <form action="#" th:action="@{/transferFromCurrentToCurrentFormReview}" method="post" th:object="${transferBilanz}">
            <table class="center" width="100%" border="0">
                <tr>
                    <td align="center">
                        <h3>TRANSFER BETWEEN CURRENT ACCOUNTS</h3>
<!--                        <div class="project-title-content">-->

<!--                            <span><i class="fas fa-crosshairs"></i></span>-->
<!--                        </div>-->


<!--                        <font size="2px"> Account Owner</font> <br/>-->
<!--                        <font color="gray" size="4">-->
<!--                            <span style th:text="${session.customerInUse.gender +' '+session.customerInUse.firstName +' '+session.customerInUse.lastName }"/>-->
<!--                        </font>-->
<!--                        <br/><br/>-->

                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">

                            <font size="4px">From Account:</font><br/>
                        <select class="selectNormal" th:field="*{transferFromAccount}">
                            <option th:each="i : ${session.customerInUse.currentAccount}"
                                    th:value="${i.accountNumber}"
                                    th:text="'AccountNumber: ' + ${i.accountNumber} + ' Balance: ' + ${#numbers.formatDecimal(i.accountBalance, 0, 'COMMA', 0, 'POINT')} ">
                            </option>
                        </select>

                        <br/>

                        <font size="4"> <div class="error" th:text="${invalidToAccount}"/> </font>
                            <font size="4px"> To Account:</font><br/>
                        <input class="selectNormal125" type="number" size="12" th:field="*{transferToAccount}">

                        <br/><br/>

                       <font size="4px"> Enter Amount:</font><br/>
                        <input class="selectAmount" size="6" name="transferAmount" type="number" value="${transferAmount}" />
                        <input type="hidden"  id="transferType" th:field="*{transferType}" value="${transferType}">

                        <br/><br/>

                        <textarea class="selectNormal" placeholder="Description here ..." id="loanNotes" rows="3" cols="70" th:field="*{notes}">
                        </textarea>

                        <br/><br/>
                        <button type="submit" class="btn btn-success">
                            Next - Review Transfer
                        </button>
                        <br/>
                        <br/>

                    </td>
                </tr>
            </table>
        </form>
<!--    </section>-->
</div>
<div th:insert="footer::navbar"></div>
</html>
