<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar" class="sticky-header" ></div>
<br/>
<br/>
<br/>
<div th:insert="summary::navbar"></div>

<div class="container">

<!--    &lt;!&ndash; Contact form area start &ndash;&gt;-->
<!--    <section class="main-page-container">-->

        <form action="#" th:action="@{/transferFromCurrentToDebitFormReview}" method="post" th:object="${transferBilanz}">
            <table class="center" width="100%" border="0">
                <tr>
                    <td align="center">
                        <h4>TRANSFER FROM CURRENT TO SAVING</h4>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">

                        <br/>
                        <label> From Account:</label>
                        <br/>
                        <select class="selectNormal" th:field="*{transferFromAccount}">
                            <option th:each="i : ${session.customerInUse.currentAccount}"
                                    th:value="${i.accountNumber}"
                                    th:text="'Account Number: ' + ${i.accountNumber} + ' Balance:'+ ${#numbers.formatDecimal(i.accountBalance, 0, 'COMMA', 0, 'POINT')}">
                            </option>
                        </select>
                        <br/>
                        <font size="4"> <div class="error" th:text="${invalidToAccount}"/> </font>
                        <label>To Saving Account:</label>
                        <br/>

                        <input class="selectNormal125" type="number" size="12" th:field="*{transferToAccount}">
                        <br/>
                        <br/>
                        <label>Enter Amount:</label>
                        <br/>

                        <input class="selectAmount" name="transferAmount" type="number" value="${transferAmount}" />
                        <input type="hidden"  id="transferType" th:field="*{transferType}" value="${transferType}">
                        <br/>
                        <br/>
                        <textarea class="selectNormal" placeholder="Notes here ..." id="loanNotes" rows="3" cols="30" th:field="*{notes}">
                        </textarea>

                        <br/>
                        <br/>

                        <button type="submit" class="btn btn-success">
                            Next - Review Transfer
                        </button>
                        <br/>
                        <br/>

                    </td>
                </tr>
            </table>
        </form>
<!--    </section>-->
</div>
<div th:insert="footer::navbar"></div>
</html>
