<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header"></div>
<section class="main-page-container">
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">UPDATE USER INFORMATION</h2>
                        <span>Update Information below and click save to update profile</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Project title area end-->
    <div class="container">
        <div class="radius-container update-profile-container">
            <span class="alert alert-info" th:if="${updatedInfo}" th:text="${updatedInfo}"/>
            <form action="#" th:action="@{/updatePassword}" method="post" th:object="${user}">



                <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER'')')}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Username:</label>
                                <input type="text" name="userName" th:field="*{userName}" id="userName1"
                                       placeholder="Username" class="form-control" disabled required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Name:</label>
                                <input type="text" name="firstName" th:field="*{firstName}" id="firstName1"
                                       placeholder="First Name" class="form-control" disabled >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Name:</label>
                                <input type="text" name="lastName" th:field="*{lastName}" id="lastName1"
                                       placeholder="Last Name" class="form-control" disabled >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telephone 1:</label>
                                <input type="text" name="telephone1" th:field="*{telephone1}" id="telephone11"
                                       placeholder="Telephone 1" class="form-control" disabled >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telephone 2:</label>
                                <input type="text" name="telephone2" th:field="*{telephone2}" id="telephone21"
                                       placeholder="Telephone 2" class="form-control" disabled >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address:</label>
                                <input type="text" name="address" th:field="*{address}" id="address1"
                                       placeholder="Address" class="form-control" disabled >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="text" name="emailInput" th:field="*{email}" id="emailInout1"
                                       placeholder="Email" class="form-control" disabled >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Password:</label>
                                <input type="password" name="passwordInput" th:field="*{password}" id="passwordInput1"
                                       placeholder="Password" class="form-control" required>
                            </div>
                        </div>
                    </div>

                </div>


                <div th:unless="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER'')')}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Username:</label>
                                <input type="text" name="userName" th:field="*{userName}" id="userName"
                                       placeholder="Username" class="form-control" disabled required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Name:</label>
                                <input type="text" name="firstName" th:field="*{firstName}" id="firstName"
                                       placeholder="First Name" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Name:</label>
                                <input type="text" name="lastName" th:field="*{lastName}" id="lastName"
                                       placeholder="Last Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telephone 1:</label>
                                <input type="text" name="telephone1" th:field="*{telephone1}" id="telephone1"
                                       placeholder="Telephone 1" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telephone 2:</label>
                                <input type="text" name="telephone2" th:field="*{telephone2}" id="telephone2"
                                       placeholder="Telephone 2" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address:</label>
                                <input type="text" name="address" th:field="*{address}" id="address"
                                       placeholder="Address" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="text" name="emailInput" th:field="*{email}" id="emailInout"
                                       placeholder="Email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Password:</label>
                                <input type="password" name="passwordInput" th:field="*{password}" id="passwordInput"
                                       placeholder="Password" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="identityCardNumber">Identity Card Number:</label>
                                <input type="text" name="identityCardNumber" th:field="*{identityCardNumber}"
                                       id="identityCardNumber"
                                       placeholder="Identity Card No" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="identityCardExpiry">Identity Expiry Date:</label>
                                <input type="date" name="identityCardExpiry" th:field="*{identityCardExpiry}"
                                       id="identityCardExpiry"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <input type="hidden" name="id" th:field="*{id}" id="id"
                               class="form-control" required>

                        <button class="btn btn-orange"
                                th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}"
                                type="submit">UPDATE PROFILE
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div th:insert="footer::navbar"></div>
</html>
