<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar" class="sticky-header" ></div>
<section class="main-page-container">
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">CUSTOMER IDENTITY</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project title area end -->
    <div class="container">
        <div class="radius-container upload-container">
            <div class="upload-title">
                <label>Name:</label><span style th:text="${session.customerInUse.lastName}"/>
            </div>
            <div class="upload-item">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Upload Customer Identity Card info</h2>
                        <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                        <form action="#" method="post" th:action="@{/upload}" enctype="multipart/form-data">
                            <div class="input-group">
                                <input type="file" name="file" class="form-control"/>
                                <div class="input-group-append">
                                    <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">Upload File</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <span class="upload-item-image"><img th:src="@{/getImage}"/></span>
                    </div>
                </div>
            </div>
            <div class="upload-item">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Upload Customer id 2</h2>
                        <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                        <form action="#" method="post" th:action="@{/upload2}" enctype="multipart/form-data">
                            <div class="input-group">
                                <input type="file" name="file2" class="form-control"/>
                                <div class="input-group-append">
                                    <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">Upload File</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <span class="upload-item-image"><img th:src="@{/getImage2}"/></span>
                    </div>
                </div>
            </div>
            <div class="upload-item">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Upload Customer id 3</h2>
                        <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                        <form action="#" method="post" th:action="@{/upload3}" enctype="multipart/form-data">
                            <div class="input-group">
                                <input type="file" name="file3" class="form-control"/>
                                <div class="input-group-append">
                                    <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">Upload File</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <span class="upload-item-image"><img th:src="@{/getImage3}"/></span>
                    </div>
                </div>
            </div>
            <div class="upload-item">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Upload Customer id 4</h2>
                        <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                        <form action="#" method="post" th:action="@{/upload4}" enctype="multipart/form-data">
                            <div class="input-group">
                                <input type="file" name="file4" class="form-control"/>
                                <div class="input-group-append">
                                    <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">Upload File</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <span class="upload-item-image"><img th:src="@{/getImage4}"/></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:insert="footer::navbar">  </div>
</html>