<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header">  </div>

<!-- Contact form area start -->
<section class="contact-form-area-start space-40 df-bg">
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <span>Fill below form to create new Organization</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Project title area end-->

    <div class="contact-from-area">
        <span class="alert alert-danger" th:if="${errorUserInfo}" th:text="${errorUserInfo}" />
        <form class="form-bootstrap" action="#" th:action="@{/createNewOrg}" method="post" th:object="${user}">
            <div class="form-sections">
                <h3 th:style="${'color:' + session.runtimeSettings.themeColor2}">Personal Information</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="aUserRole">Org:</label>
                            <input type="text" name="orgId" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="userName">From Org:</label>
                            <input type="text" name="fromOrgId" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="aUserRole">Username:</label>
                            <input type="text" name="userName" th:field="*{userName}" id="userName"
                                                 class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="userName">Profession:</label>
                            <input type="text" name="profession" th:field="*{profession}" id="profession"
                                       class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">Firstname:</label>
                            <input type="text" name="firstName" th:field="*{firstName}" id="firstName"
                                       class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Lastname:</label>
                            <input type="text" name="lastName" th:field="*{lastName}" id="lastName"
                                       class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="width: 100%;">Gender:</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="mr" type="radio" value="Mr" th:field="*{gender}" name="gender" checked>
                                <label class="form-check-label" for="mr">Mr</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="mrs" type="radio" value="Mrs" th:field="*{gender}" name="gender">
                                <label class="form-check-label" for="mrs">Mrs</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="miss" type="radio" value="Miss" th:field="*{gender}" name="gender">
                                <label class="form-check-label" for="miss">Miss</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="org" type="radio" value="" th:field="*{gender}" name="gender">
                                <label class="form-check-label" for="org">Org</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="identityCardNumber">Identity Card Number:</label>
                            <input type="text" name="identityCardNumber" th:field="*{identityCardNumber}" id="identityCardNumber"
                                       class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dateOfBirth">Date of Birth:</label>
                            <input type="date" placeholder="Date Of Birth" name="dateOfBirth" th:field="*{dateOfBirth}" id="dateOfBirth"
                                       class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="passwordInput">Password:</label>
                            <input type="password" name="passwordInput" th:field="*{password}" id="passwordInput"
                                       class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-sections">
                <h3 th:style="${'color:' + session.runtimeSettings.themeColor2}">Address Information</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="emailInout">Email:</label>
                            <input type="text" name="emailInput" th:field="*{email}" id="emailInout"
                                       class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <input type="text" name="address" th:field="*{address}" id="address"
                                       class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="telephone1">Telephone 1:</label>
                            <input type="text" name="telephone1" th:field="*{telephone1}" id="telephone1"
                                       class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="telephone2">Telephone 2:</label>
                            <input type="text" name="telephone2" th:field="*{telephone2}" id="telephone2"
                                       class="form-control">
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-sections">
                <h3 th:style="${'color:' + session.runtimeSettings.themeColor2}">Active / Inactive User Account</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="width: 100%;">This new user will be able to login</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" th:field="*{accountLocked}" type="radio" id="false" name="accountLocked" value="false">
                                <label class="form-check-label" for="false">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" th:field="*{accountLocked}"  type="radio" id="true" name="accountLocked" value="true"
                                        checked>
                                <label class="form-check-label" for="true">False</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">Create User</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</section>

<div th:insert="footer::navbar">  </div>
</html>